{% extends 'base.html' %}

{% block main %}
<p class="lead ml-4 mb-5">
  Share and query tabular data and allow visualizations. Uses
  <a href="{{ config['SQLITE3_URL'] }}" target="_blank">Sqlite3</a>,
  <a href="{{ config['VEGA_SITE_URL'] }}" target="_blank">Vega</a> and
  <a href="{{ config['VEGA_LITE_SITE_URL'] }}" target="_blank">Vega-Lite</a>.
</p>
{% include 'dbs/list_public.html' %}
{% endblock %} {# block main #}

{% block api %}
<div>
  <a href="{{ url_for('api.root') }}"
     class="badge badge-pill badge-dark">API</a>
</div>
{% endblock %} {# block api #}

{% block javascript %}
<script>
  $(function() {
    $("#dbs").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 10,
    });
  });
</script>
{% endblock %} {# block javascript #}
