{% extends 'base.html' %}

{% block main %}
<p class="lead ml-4 mb-5">
  Share tabular data sets in
  <a href="{{ config['SQLITE3_URL'] }}" target="_blank">Sqlite3</a>
  databases. Visualize with
  <a href="{{ config['VEGA_SITE_URL'] }}" target="_blank">Vega</a> or
  <a href="{{ config['VEGA_LITE_SITE_URL'] }}" target="_blank">Vega-Lite</a>.
</p>
{% include 'dbs/list_public.html' %}
{% endblock %} {# block main #}

{% block meta %}
<div>
  <a href="{{ url_for('.api') }}"
     class="badge badge-pill badge-dark">API</a>
</div>
{% endblock %} {# block meta #}

{% block javascript %}
<script>
  $(function() {
    $("#dbs").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 10,
    });
  });
</script>
{% endblock %} {# block javascript #}
