{% extends 'base.html' %}

{% block head_title %}Schema for view {{ schema['name'] }}{% endblock %}

{% block body_title %}Schema for view {{ schema['name'] }}{% endblock %}

{% block main %}
<table class="table table-sm table-borderless">
  <col style="width:20%">
  <col style="width:80%">
  <tr>
    <th class="text-right">Title</th>
    <td>{{ schema.get('title') or '' }}</td>
  </tr>
  <tr>
    <th class="text-right">Description</th>
    <td>{{ schema.get('description')|markdown }}</td>
  </tr>
  <tr>
    <th class="text-right">SELECT</th>
    <td>{{ schema['query']['select'] }}</td>
  </tr>
  <tr>
    <th class="text-right">FROM</th>
    <td>{{ html_from|safe }}</td>
  </tr>
  <tr>
    <th class="text-right">WHERE</th>
    <td>{{ schema['query']['where'] or ''}}</td>
  </tr>
  <tr>
    <th class="text-right">ORDER BY</th>
    <td>{{ schema['query']['orderby'] or ''}}</td>
  </tr>
  <tr>
    <th class="text-right">LIMIT</th>
    <td>{{ schema['query']['limit'] or ''}}</td>
  </tr>
  <tr>
    <th class="text-right">OFFSET</th>
    <td>{{ schema['query']['offset'] or ''}}</td>
  </tr>
</table>
{% endblock %} {# block main #}

{% block meta %}
<div class="py-1">
  <div>
    <a href="{{ url_for('api_view.view', dbname=db['name'], viewname=schema['name']) }}"
       class="badge badge-pill badge-dark">API</a>
  </div>
</div>
{% endblock %} {# block meta #}

{% block actions %}
<div class="mt-2">
  <a href="{{ url_for('.rows', dbname=db['name'], viewname=schema['name']) }}"
     role="button" class="btn btn-outline-primary btn-block">
    {% if is_none(schema['nrows']) %}
    ?
    {% else %}
    {{ schema['nrows']|thousands }}
    {% endif %}
    rows</a>
</div>
{% if has_write_access %}
<div class="mt-2">
  <a href="{{ url_for('.edit', dbname=db['name'], viewname=schema['name']) }}"
     role="button" data-toggle="tooltip" data-placement="left"
     title="Edit the metadata of this view."
     role="button" class="btn btn-primary btn-block">
    Edit</a>
</div>
{% endif %}
<div class="mt-2">
  <form action="{{ url_for('query.define', dbname=db['name']) }}"
        method="GET">
    <input type="hidden" name="select" 
           value="{{ schema['query'].get('select') or ''}}">
    <input type="hidden" name="from"
           value="{{ schema['query'].get('from') or ''}}">
    <input type="hidden" name="where" 
           value="{{ schema['query'].get('where') or ''}}">
    <input type="hidden" name="orderby" 
           value="{{ schema['query'].get('orderby') or ''}}">
    <input type="hidden" name="limit"
           value="{{ schema['query'].get('limit') or ''}}">
    <button type="submit" class="btn btn-success btn-block"
	    data-toggle="tooltip" data-placement="left"
	    title="Prepare a new query from this view's definition.">
      Query</button>
  </form>
</div>
{% endblock %} {# block actions #}

{% block javascript %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %} {# block javascript #}
