{% extends 'base.html' %}

{% block head_title %}
Schema for table {{ schema['tableid'] }} in database {{ db['dbid'] }}
{% endblock %}

{% block body_title %}
Schema for table {{ schema['tableid'] }} in database 
<a href="{{ url_for('db.index', dbid=db['dbid']) }}">{{ db['dbid'] }}</a>
{% endblock %}

{% block main %}
<p>
  <a href="{{ url_for('table.rows', dbid=db['dbid'], tableid=schema['tableid']) }}">
    A total of {{ nrows }} rows</a> in the table.
</p>
<div class="card border-primary">
  <div class="card-header bg-primary text-white">Columns</div>
  <div class="card-body">
    <table class="table">
      <thead>
	<tr>
	  <th>Identifier</th>
	  <th>Type</th>
	  <th></th>
	  <th></th>
	</tr>
      </thead>
      <tbody>
	{% for column in schema['columns'] %}
	<tr>
	  <td>{{ column['id'] }}</td>
	  <td>{{ column['type'] }}</td>
	  <td>{{ column['primarykey'] and 'PRIMARY KEY' or '' }}</td>
	  <td>{{ column['notnull'] and 'NOT NULL' or '' }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block actions %}
{% if has_write_access %}
<form action="{{ url_for('.table', dbid=db['dbid'], tableid=schema['tableid']) }}"
      method="POST">
  {{ csrf_token() | safe }}
  <input type="hidden" name="_http_method" value="DELETE">
  <button type="submit" class="btn btn-danger"
          onclick="confirm('Really delete? Cannot be undone.')">
    Delete table</button>
</form>
{% endif %}
{% endblock %}

