{% extends 'base.html' %}

{% block head_title %}Databases owned by {{ username }}{% endblock %}

{% block body_title %}
Databases owned by {{ username }}
<small class="text-muted">
  total size
  <span class="text-monospace">{{ total_size|filesizeformat }}</span>
</small>
{% endblock %}

{% block main %}
<table id="dbs" class="table table-sm">
  <thead>
    <tr>
      <th>Database</th>
      <th>Title</th>
      <th>Access</th>
      <th>Mode</th>
      <th>Size (bytes)</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for db in dbs %}
    <tr>
      <td>
        <a href="{{ url_for('db.display', dbname=db['name']) }}" role="button" 
	   class="font-weight-bold">{{ db['name'] }}</a>
      </td>
      <td>{{ db.get('title') or '-' }}</td>
      <td>{{ db['public'] | access }}</td>
      <td>{{ db['readonly'] | mode }}</td>
      <td class="text-right">
        <span class="text-monospace mr-4">{{ db['size']|thousands }}</span>
      </td>
      <td><small class="localtime">{{ db['modified'] }}</small></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <a href="{{ url_for('db.create') }}"
     role="button" data-toggle="tooltip" data-placement="left"
     title="Create a new database."
     class="btn btn-primary btn-block">Create</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('dbs.upload') }}"
     role="button" data-toggle="tooltip" data-placement="left"
     title="Create a new database by uploading a Sqlite3 file."
     class="btn btn-primary btn-block">Upload</a>
</div>
{% endblock %} {# block actions #}

{% block meta %}
<div>
  <a href="{{ url_for('api_dbs.owner', username=username) }}"
     class="badge badge-pill badge-dark">API</a>
</div>
{% endblock %} {# block meta #}

{% block javascript %}
<script>
  $(function() {
    $("#dbs").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
    });
  });
</script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %} {# block javascript #}
