{% extends 'base.html' %}

{% block head_title %}Edit user {{ user['username'] }}{% endblock %}

{% block body_title %}Edit user {{ user['username'] }}{% endblock %}

{% block main %}
<form action="{{ url_for('.edit', username=user['username']) }}"
      method="POST">
  {{ csrf_token() | safe }}
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label text-right">Email</label>
    <div class="col-sm-6">
      <input type="email" class="form-control"
             id="email" name="email" value="{{ user['email'] }}">
    </div>
  </div>
  {% if change_role %}
  <div class="form-group row">
    <label for="role" class="col-sm-2 col-form-label text-right">Role</label>
    <div class="col-sm-6">
      {% for role in constants.USER_ROLES %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="role" id="role_{{ role }}" value="{{ role }}"
               {{ role == user['role'] and 'checked' or '' }}>
        <label class="form-check-label" for="role_{{ role }}">{{ role }}</label>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <div class="form-group row">
    <label for="apikey" class="col-sm-2 text-right">API key</label>
    <div class="col-sm-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true"
               name="apikey" id="apikey">
        <label class="form-check-label" for="apikey">
          Generate a new API key.
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2 offset-sm-2">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
<form action="{{ url_for('.account', username=user['username']) }}"
      method="GET">
  <div class="form-group row">
    <div class="col-sm-6 offset-sm-2">
      <button type="submit" class="btn btn-secondary">Cancel</button>
    </div>
  </div>
</form>
{% endblock %}
