{% extends 'base.html' %}

{% block head_title %}All databases{% endblock %}

{% block body_title %}All databases
<small class="text-muted">
  total size
  <span class="text-monospace">{{ '{:,}'.format(usage) }}</span>
  bytes
</small>
{% endblock %}

{% block main %}
<table id="dbs" class="table table-sm">
  <thead>
    <tr>
      <th>Database</th>
      <th>Description</th>
      <th>Access</th>
      <th>Mode</th>
      <th>Owner</th>
      <th>Size (bytes)</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for db in dbs %}
    <tr>
      <th>
        <a href="{{ url_for('db.home', dbname=db['name']) }}">
          {{ db['name'] }}</a>
      </th>
      <td>{{ db.get('description') or '-' }}</td>
      <td>{{ db['public'] and 'public' or 'private'}}</td>
      <td>{{ db['readonly'] and 'read-only' or 'read-write'}}</td>
      <td>{{ db['owner'] }}</td>
      <td class="text-right">
        <span class="text-monospace mr-3">{{ '{:,}'.format(db['size']) }}</span>
      </td>
      <td><small class="localtime">{{ db['modified'] }}</small></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#dbs").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
    });
  });
</script>
{% endblock %}
