{% extends 'base.html' %}

{% block main %}
<div class="m-4">
  Web tool for exploring and publishing data sets using the Sqlite3
  relational database.
</div>
<table id="dbs" class="table table-sm">
  <thead>
    <tr>
      <th>Database</th>
      <th>Description</th>
      <th>Access</th>
      <th>Mode</th>
      <th>Owner</th>
      <th>Size</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for db in dbs %}
    <tr>
      <th>
        <a href="{{ url_for('db.home', dbname=db['name']) }}">
          {{ db['name'] }}</a>
      </th>
      <td>{{ db.get('description') or '-' }}</td>
      <td>{{ db['public'] and 'public' or 'private'}}</td>
      <td>{{ db['readonly'] and 'read-only' or 'read-write'}}</td>
      <td>{{ db['owner'] }}</td>
      <td class="text-right">
        <span class="text-monospace mr-2">{{ db['size'] }}</span>
      </td>
      <td><small class="localtime">{{ db['modified'] }}</small></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block actions %}
<a href="{{ url_for('db.create') }}"
   role="button" class="btn btn-primary btn-block">Create database</a>
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#dbs").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
    });
  });
</script>
{% endblock %}
