{% extends 'base.html' %}

{% block main %}
<p>
  Web-based relational database system powered by Sqlite.
</p>
<table id="dbs" class="table table-sm">
  <thead>
    <tr>
      <th>Database</th>
      <th>Description</th>
      <th>Public</th>
      <th>Owner</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for db in dbs %}
    <tr>
      <td>
        <a href="{{ url_for('db.index', dbid=db['id']) }}">{{ db['id'] }}</a>
      </td>
      <td>{{ db.get('description') or '-' }}</td>
      <td>{{ db['public'] and 'yes' or 'no'}}</td>
      <td>{{ db['owner'] }}</td>
      <td class="localtime">{{ db['modified'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block actions %}
<a href="{{ url_for('db.create') }}"
   role="button" class="btn btn-primary btn-block">Create database</a>
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#dbs").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
    });
  });
</script>
{% endblock %}
