<div class="mt-4">
  Owner:
  {% if g.current_user %}
  <a href="{{ url_for('user.account', username=resource['owner'])}}">
    {{ resource['owner'] }}</a>
  {% else %}
    {{ resource['owner'] }}
  {% endif %}
</div>
<div class="mt-2">
  Public: {{ resource['public'] and 'yes' or 'no' }}
</div>
<div class="mt-2">
  Modified <span class="localtime">{{ resource['modified'] }}</span>
</div>
<div class="mt-2">
  <a href="{{ url_for('resource.logs', rid=resource['rid']) }}">Logs</a>
</div>
<div class="mt-2">
  Created <span class="localtime">{{ resource['created'] }}</span>
</div>
