{% extends 'base.html' %}

{% block head_title %}Login{% endblock %}

{% block body_title %}Login{% endblock %}

{% block main %}
<form action="{{ url_for('.login') }}"
      method="POST">
  {{ csrf_token() | safe }}
  <div class="form-group row">
    <label for="username" class="col-sm-2 col-form-label">User name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="username" name="username">
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="password" name="password">
    </div>
  </div>
  {% if next %}
  <input type="hidden" name="next" value="{{ next }}">
  {% endif %}
  <div class="form-group row">
    <div class="col-sm-2 offset-sm-2">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
</form>
<div class="row pt-sm-4">
  <div class="col-sm-4 offset-sm-2">
    <a href="{{ url_for('.register') }}">Register a new account.</a>
  </div>
</div>
<div class="row pt-sm-2">
  <div class="col-sm-4 offset-sm-2">
    <a href="{{ url_for('.reset') }}">Reset password for an existing account.</a>
  </div>
</div>
{% endblock %}
