{% extends 'base.html' %}

{% block head_title %}Databases owned by user {{ username }}{% endblock %}

{% block body_title %}
Databases owned by user <strong>{{ username }}</strong>
{% endblock %}

{% block main %}
<table id="dbs" class="table table-sm">
  <thead>
    <tr>
      <th>Database</th>
      <th>Description</th>
      <th>Access</th>
      <th>Mode</th>
      <th>Size (bytes)</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for db in dbs %}
    <tr>
      <th>
        <a href="{{ url_for('db.home', dbname=db['name']) }}" role="button" 
	   class="btn btn-sm btn-outline-primary px-3 py-0 font-weight-bold">
          {{ db['name'] }}</a>
      </th>
      <td>{{ db.get('description') or '-' }}</td>
      <td>
	{% if db['public'] %}
	<span class="badge badge-success">public</span>
	{% else %}
	private
	{% endif %}
      </td>
      <td>
	{% if db['readonly'] %}
	read-only
	{% else %}
	<span class="badge badge-warning">read-write</span>
	{% endif %}
      </td>
      <td class="text-right">
        <span class="text-monospace mr-3">{{ '{:,}'.format(db['size']) }}</span>
      </td>
      <td><small class="localtime">{{ db['modified'] }}</small></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block actions %}
<div class="mt-3">
  <a href="{{ url_for('db.create') }}"
     role="button" data-toggle="tooltip" data-placement="left"
     title="Create a new database."
     class="btn btn-primary btn-block">Create</a>
</div>
<div class="mt-3">
  <a href="{{ url_for('upload') }}"
     role="button" data-toggle="tooltip" data-placement="left"
     title="Create a new database by uploading a Pleko Sqlite file."
     class="btn btn-primary btn-block">Upload</a>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#dbs").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
    });
  });
</script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
