{% extends 'base.html' %}

{% block head_title %}Upload a template file{% endblock %}

{% block body_title %}Upload a template file{% endblock %}

{% block main %}
<div class="card border-primary">
  <div class="card-body">
    <ul class="m-2">
      <li>
        The file must a valid DbShare template file in JSON format.
      </li>
    </ul>
    <form action="{{ url_for('.upload') }}"
          enctype="multipart/form-data"
          method="POST"
          class="mt-4">
      {{ csrf_token() }}
      <div class="form-group row">
        <div class="col-md-2 text-right">
          <label for="templatefile" class="col-form-label">
            Template file</label>
        </div>
        <div class="col-md-8">
          <input id="templatefile" name="templatefile"
                 type="file" class="form-control-file" autofocus>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2 text-right">
          <label for="templatename" class="col-form-label">
            Template name</label>
        </div>
        <div class="col-md-8">
          <input id="templatename" name="templatename"
                 type="text" class="form-control">
          <small class="form-text text-muted">
            If none specified, the name in the file will be used.
            <br>
            The template name must be unique for this site. If not,
            an attempt will be made to add a suffix to it to make it
            unique.
            <br>
            This means that other user's template names restrict which
            name you can use.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4 offset-md-2">
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Upload</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %} {# block main #}

{% block actions %}
<div class="mt-2">
  <a href="{{ url_for('.owner', username=g.current_user['username']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %} {# block actions #}
