{% extends 'base.html' %}

{% block head_title %}User {{ user['username'] }}{% endblock %}

{% block body_title %}User {{ user['username'] }}{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <tr>
        <th class="text-right">Email</th>
        <td>{{ user['email'] }}</td>
      </tr>
      <tr>
        <th class="text-right">Role</th>
        <td>{{ user['role'] }}</td>
      </tr>
      <tr>
        <th class="text-right">Status</th>
        <td>{{ user['status'] }}</td>
        {% if enable_disable %}
        <td>
          {% if user['status'] != constants.ENABLED %}
          <form action="{{ url_for('.enable', username=user['username']) }}"
                method="POST">
            {{ csrf_token() }}
            <button type="submit" class="btn btn-success">Enable</button>
          </form>
          {% elif user['status'] == constants.ENABLED %}
          <form action="{{ url_for('.disable', username=user['username']) }}"
                method="POST">
            {{ csrf_token() }}
            <button type="submit" class="btn btn-danger">Disable</button>
          </form>
          {% endif %}
        </td>
        {% endif %}
      </tr>
      <tr>
        <th class="text-right">API key</th>
        <td>{{ user.get('apikey') or '-' }}</td>
      </tr>
      <tr>
        <th class="text-right"># databases</th>
        <td>
	  {% if ndb %}
	  <a href="{{ url_for('owner', username=user['username']) }}">
	    <span class="badge badge-primary">{{ ndb }}</span></a>
	  {% else %}
	  0
	  {% endif %}
	</td>
      </tr>
      <tr>
        <th class="text-right">Total size</th>
        <td>
          {% if user.get('quota') and usage > user['quota'] %}
          <div class="text-danger">
            <span class="text-monospace">{{ '{:,}'.format(usage) }}</span>
            bytes; no more data may be added
          </div>
          {% else %}
          <span class="text-monospace">{{ '{:,}'.format(usage) }}</span>
          bytes
          {% endif %}
        </td>
      </tr>
      <tr>
        <th class="text-right">Size quota</th>
        <td>
          {% if user.get('quota') %}
          <span class="text-monospace">{{ '{:,}'.format(user['quota']) }}</span>
          bytes
          {% else %}
          <em>no quota</em>
          {% endif %}
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}

{% block actions %}
{% if g.current_user %}
<div class="mt-3">
  <a href="{{ url_for('.edit', username=user['username']) }}"
     role="button" class="btn btn-primary btn-block">Edit</a>
</div>
<div class="mt-3">
  <form action="{{ url_for('.logout') }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-warning btn-block">Logout</button>
  </form>
</div>
{% endif %}
{% endblock %}

{% block info %}
<div class="small">
  <div class="mt-4">
    Modified <span class="localtime">{{ user['modified'] }}</span>
  </div>
  <div class="mt-1">
    <a href="{{ url_for('.logs', username=user['username']) }}">Logs</a>
  </div>
  <div class="mt-1">
    Created <span class="localtime">{{ user['created'] }}</span>
  </div>
</div>
{% endblock %}
