{% extends 'base.html' %}

{% block head_title %}Users{% endblock %}

{% block body_title %}Users{% endblock %}

{% block main %}
<table id="users" class="table table-sm">
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
      <th>Databases</th>
      <th>Total size (bytes)</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>
        <a href="{{ url_for('.profile', username=user['username']) }}">
          {{ user['username'] }}</a>
      </td>
      <td>{{ user['email'] }}</td>
      <td>{{ user['role'] }}</td>
      <td>{{ user['status'] }}</td>
      <td>
	{% if user['ndb'] %}
	<a href="{{ url_for('owner', username=user['username']) }}">
	  {{ user['ndb'] }} databases</a>
	{% else %}
	0 databases
	{% endif %}
      </td>
      <td class="text-right">
        <span class="text-monospace mr-3">{{ '{:,}'.format(user['size']) }}</span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#users").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25
    });
  });
</script>
{% endblock %}
