{% extends 'base.html' %}

{% block head_title %}Public databases{% endblock %}

{% block body_title %}Public databases{% endblock %}

{% block main %}
{% include 'list_dbs_public.html' %}
{% endblock %}

{% block actions %}
<div class="mt-3">
  <a href="{{ url_for('templates_public') }}"
     role="button" class="btn btn-info btn-block">
    Public visualization templates</a>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#dbs").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
    });
  });
</script>
{% endblock %}
