{% extends 'base.html' %}

{% block main %}
<p class="lead ml-4 mb-5">
  Upload, publish and query tabular data sets in
  <a href="{{ config['SQLITE3_URL'] }}" target="_blank">Sqlite3</a>
  databases and visualize with
  <a href="{{ config['VEGA_SITE_URL'] }}" target="_blank">Vega</a> or
  <a href="{{ config['VEGA_LITE_SITE_URL'] }}" target="_blank">Vega-Lite</a>.
</p>
{% include 'dbs/list_public.html' %}
{% endblock %} {# block main #}

{% block meta %}
<div>
  <a href="{{ url_for('.api') }}"
     class="badge badge-pill badge-dark">API</a>
</div>
{% endblock %} {# block meta #}

{% block actions %}
{% if not g.current_user %}
<div class="mt-2">
  <a href="{{ url_for('user.login') }}" class="btn btn-block btn-secondary">
    Login</a>
</div>
{% endif %}
{% endblock %} {# block actions #}

{% block javascript %}
<script>
  $(function() {
    $("#dbs").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 10,
    });
  });
</script>
{% endblock %}
