{% extends 'base.html' %}

{% block head_title %}Public vis-templates{% endblock %}

{% block body_title %}Public vis-templates{% endblock %}

{% block main %}
<table id="templates" class="table table-sm my-4">
  <thead>
    <tr>
      <th>Template</th>
      <th>Title</th>
      <th>Owner</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for template in templates %}
    <tr>
      <th>
        <a href="{{ url_for('template.view', templatename=template['name']) }}"
	   role="button"
	   class="btn btn-sm px-3 py-0 btn-outline-info font-weight-bold">
          {{ template['name'] }}</a>
      </th>
      <td>{{ template.get('title') or '-' }}</td>
      <td>{{ template['owner'] }}</td>
      <td><small class="localtime">{{ template['modified'] }}</small></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#templates").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
    });
  });
</script>
{% endblock %}
