{% extends 'base.html' %}

{% block head_title %}Clone database {{ db['name'] }}{% endblock %}

{% block body_title %}
Clone database <strong>{{ db['name'] }}</strong>
{% endblock %}

{% block main %}
<div class="card border-primary">
  <div class="card-body">
    <form action="{{ url_for('.clone', dbname=db['name']) }}"
          method="POST">
      {{ csrf_token() }}
      <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label text-right">
          Name</label>
        <div class="col-md-6">
          <input id="name" name="name" type="text" 
		 class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-md-2 col-form-label text-right">
          Description</label>
        <div class="col-md-10">
          <input type="text" class="form-control"
	         id="description" name="description"
	         value="{{ db.get('description') or '' }}">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2 offset-md-2">
          <button type="submit"
                  class="btn btn-primary btn-lg btn-block">Clone</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('.home', dbname=db['name']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
