{% extends 'base.html' %}

{% block head_title %}Create a database{% endblock %}

{% block body_title %}Create a database{% endblock %}

{% block main %}
<div class="card border-primary">
  <div class="card-body">
    <form action="{{ url_for('.create') }}"
          method="POST">
      {{ csrf_token() | safe }}
      <div class="form-group row">
        <label for="id" class="col-md-2 col-form-label text-right">
          Identifier</label>
        <div class="col-md-6">
          <input id="id" name="id" type="text" class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-md-2 col-form-label text-right">
          Description</label>
        <div class="col-md-10">
          <input type="text" class="form-control"
	         id="description" name="description">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2 offset-md-2">
          <button type="submit" 
                  class="btn btn-primary btn-lg btn-block">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<p>
  <a href="{{ url_for('index') }}"
     role="button" class="btn btn-secondary btn-block">Cancel</a>
</p>
{% endblock %}
