{% extends 'base.html' %}

{% block head_title %}Database {{ db['id'] }}{% endblock %}

{% block body_title %}Database <strong>{{ db['id'] }}</strong>{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-8 m-3">
    {{ db.get('description') or '-' }}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card border-primary">
      <div class="card-header border-primary">
	<div class="row">
	  <div class="col-md-8">Tables</div>
	  {% if has_write_access %}
	  <div class="col-md-4">
	    <a href="{{ url_for('table.create', dbid=db['id']) }}"
	       role="button" class="btn btn-primary btn-sm btn-block">
	      Create table</a>
	  </div>
	  {% endif %}
	</div>
      </div>
      <div class="card-body">
        <table class="table table-sm table-hover table-borderless">
          <tbody>
            {% if tables %}
            {% for table in tables %}
            <tr>
	      <th>{{ table['id'] }}</th>
              <td>
		<a href="{{ url_for('table.rows', dbid=db['id'], tableid=table['id']) }}">
		  Table; {{ table['nrows'] }} rows</a>
              </td>
              <td>
                <a href="{{ url_for('table.schema', dbid=db['id'], tableid=table['id']) }}">
                  Schema</a>
              </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td><i>none</i></td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card border-success">
      <div class="card-header border-success">
        <div class="row">
	  <div class="col-md-8">Views</div>
          {% if has_write_access %}
	  <div class="col-md-4">
	    <a href="{{ url_for('view.create', dbid=db['id']) }}"
	       role="button" class="btn btn-success btn-sm btn-block">
	      Create view</a>
	  </div>
	  {% endif %}
        </div>
      </div>
      <div class="card-body">
        <table class="table table-sm table-hover table-borderless">
          <tbody>
            {% if views %}
            {% for view in views %}
            <tr>
	      <th>{{ view['id'] }}</th>
              <td>
		<a href="{{ url_for('view.rows', dbid=db['id'], viewid=view['id']) }}">
		  View; {{ view['nrows'] }} rows</a>
              </td>
              <td>
                <a href="{{ url_for('view.schema', dbid=db['id'], viewid=view['id'])}}">
                  Schema</a>
              </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td><i>none</i></td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card border-secondary pt-4">
      <div class="card-header border-secondary">Indexes</div>
      <div class="card-body">
        <table class="table table-sm table-hover table-borderless">
          <tbody>
            {% if indexes %}
            {% for index in indexes %}
            <tr>
	      <th>{{ index['id'] }}</th>
              <td>
                Rows
              </td>
              <td>
                Schema
              </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td><i>none</i></td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('query.home', dbid=db['id']) }}"
     role="button" class="btn btn-success btn-block">Query</a>
</div>
<div class="py-2">
  <a href="{{ url_for('.download', dbid=db['id']) }}"
     role="button" class="btn btn-secondary btn-block">Download</a>
</div>
{% if has_write_access %}
<div class="pt-2">
  <a href="{{ url_for('.upload', dbid=db['id']) }}"
     role="button" class="btn btn-primary btn-block">Upload CSV file</a>
</div>
<div class="pt-2">
  <a href="{{ url_for('.rename', dbid=db['id']) }}"
     role="button" class="btn btn-info btn-block">Rename database</a>
</div>
<div class="pt-2">
  <a href="{{ url_for('.clone', dbid=db['id']) }}"
     role="button" class="btn btn-info btn-block">Clone database</a>
</div>
{% if db['public'] %}
<div class="pt-2">
  <form action="{{ url_for('.private', dbid=db['id']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-warning btn-block">
      Set private access</button>
  </form>
</div>
{% else %}
<div class="pt-2">
  <form action="{{ url_for('.public', dbid=db['id']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-warning btn-block">
      Set public access</button>
  </form>
</div>
{% endif %}
<div class="pt-4">
  <form action="{{ url_for('.home', dbid=db['id']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-danger btn-block"
            onclick="return confirm('Really delete? Cannot be undone.')">
      Delete database</button>
  </form>
</div>
{% endif %}
{% endblock %}

{% block info %}
<div class="small pt-4">
  <div>
    Access {{ db['public'] and 'public' or 'private' }}
  </div>
  <div class="pt-1">
    Owner
    {% if g.current_user %}
    <a href="{{ url_for('user.profile', username=db['owner'])}}">
      {{ db['owner'] }}</a>
    {% else %}
    {{ db['owner'] }}
    {% endif %}
  </div>
  <div class="pt-1">
    Size <span class="text-monospace">{{ db['size'] }}</span> bytes
  </div>
  <div class="pt-1">
    Modified <span class="localtime">{{ db['modified'] }}</span>
  </div>
  <div class="pt-1">
    <a href="{{ url_for('db.logs', dbid=db['id']) }}">Logs</a>
  </div>
  <div class="pt-1">
    Created <span class="localtime">{{ db['created'] }}</span>
  </div>
</div>
{% endblock %}
