{% extends 'base.html' %}

{% block head_title %}Database {{ db['dbid'] }}{% endblock %}

{% block body_title %}Database {{ db['dbid'] }}{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-8">
    <p>
      {{ db.get('description') or '-' }}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card border-primary">
      <div class="card-header bg-primary text-white">Tables</div>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Schema</th>
              <th># rows</th>
            </tr>
          </thead>
          <tbody>
            {% if tables %}
            {% for table in tables %}
            <tr>
              <td>
                <a href="{{ url_for('schema.table', dbid=db['dbid'], tableid=table['tableid']) }}">
                  {{ table['tableid'] }}</a>
              </td>
              <td>
		<a href="{{ url_for('rows.index', dbid=db['dbid'], tableid=table['tableid']) }}">
		  {{ table['nrows'] }}</a>
              </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td><i>no tables</i></td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block actions %}
{% if has_write_access %}
<p>
  <a href="{{ url_for('table.create', dbid=db['dbid']) }}"
     role="button" class="btn btn-primary">Create table</a>
</p>
<form action="{{ url_for('.index', dbid=db['dbid']) }}"
      method="POST">
  {{ csrf_token() | safe }}
  <input type="hidden" name="_http_method" value="DELETE">
  <button type="submit" class="btn btn-danger"
          onclick="confirm('Really delete? Cannot be undone.')">
    Delete database</button>
</form>
{% endif %}
{% endblock %}

{% block info %}
<div class="small">
  <div class="mt-4">
    Owner:
    {% if g.current_user %}
    <a href="{{ url_for('user.profile', username=db['owner'])}}">
      {{ db['owner'] }}</a>
    {% else %}
    {{ db['owner'] }}
    {% endif %}
  </div>
  <div class="mt-2">
    Public: {{ db['public'] and 'yes' or 'no' }}
  </div>
  <div class="mt-2">
    Modified <span class="localtime">{{ db['modified'] }}</span>
  </div>
  <div class="mt-2">
    <a href="{{ url_for('db.logs', dbid=db['dbid']) }}">Logs</a>
  </div>
  <div class="mt-2">
    Created <span class="localtime">{{ db['created'] }}</span>
  </div>
</div>
{% endblock %}
