{% extends 'base.html' %}

{% block head_title %}Database logs{% endblock %}

{% block body_title %}Database logs{% endblock %}

{% block main %}
<table class="table">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Editor</th>
      <th>Remote address</th>
      <th>User agent</th>
      <th>New values</th>
    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
    <tr>
      <td class="localtime">{{ log['timestamp'] }}</td>
      <td>{{ log['editor'] or '-' }}</td>
      <td>{{ log['remote_addr'] or '-' }}</td>
      <td>{{ log['user_agent'] or '-' }}</td>
      <td>{{ utils.json_html(log['new']) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('.home', dbid=db['id']) }}"
     role="button" class="btn btn-secondary btn-block">Back</a>
</div>
{% endblock %}
