{% extends 'base.html' %}

{% block head_title %}
Create a table from CSV data in database {{ db['id'] }}
{% endblock %}

{% block body_title %}
Create a table from CSV data in database {{ db['id'] }}
{% endblock %}

{% block main %}
<p>
  <ul>
    <li>
      The CSV file must contain exactly one header line containing
      identifiers for the table columns.
    </li>
    <li>
      The values of the CSV records are inspected to infer the
      appropriate type for the table columns.
    </li>
</p>
<form action="{{ url_for('.upload', dbid=db['id']) }}"
      enctype="multipart/form-data"
      method="POST">
  {{ csrf_token() | safe }}
  <div class="form-group">
    <div class="row">
      <div class="col-md-2 text-right">
        <label for="csvfile"
               class="col-form-label font-weight-bold">
          CSV file</label>
      </div>
      <div class="col-md-6">
        <input id="csvfile" name="csvfile"
               type="file" class="form-control-file" autofocus>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 text-right">
      <label for="tableid" class="col-form-label font-weight-bold">
        Table identifier</label>
    </div>
    <div class="col-md-4">
      <input id="tableid" name="tableid" type="text" class="form-control">
      <small class="text-muted">If none specified, the filename will be used.</small>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 offset-md-2">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Upload</button>
    </div>
  </div>
</form>
{% endblock %}

{% block actions %}
<p>
  <a href="{{ url_for('.index', dbid=db['id']) }}"
     role="button" class="btn btn-secondary btn-block">Cancel</a>
</p>
{% endblock %}
