{% extends 'base.html' %}

{% block head_title %}Rows from query of database {{ db['name'] }}{% endblock %}

{% block body_title %}Rows from query of database {{ db['name'] }}{% endblock %}

{% block main %}
<div class="mx-3 ml-4">
  <span class="monospace mr-4">{{ sql }};</span>
  &rarr; {{ len(rows)|thousands }} rows
</div>

<div class="mt-4">
  <table id="rows" class="table table-sm table-hover">
    <thead>
      <tr>
	{% for column in columns %}
	<th>{{ column }}</th>
	{% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
	{% for value in row %}
	<td>{{ value|none_as_literal_null }}</td>
	{% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block actions %}
<div class="mt-2">
  <form action="{{ url_for('.home', dbname=db['name']) }}"
        method="GET">
    <input type="hidden" name="select" value="{{ query.get('select') or ''}}">
    <input type="hidden" name="from" value="{{ query.get('from') or ''}}">
    <input type="hidden" name="where" value="{{ query.get('where') or ''}}">
    <input type="hidden" name="orderby" value="{{ query.get('orderby') or ''}}">
    <input type="hidden" name="limit" value="{{ query.get('limit') or ''}}">
    <input type="hidden" name="offset" value="{{ query.get('offset') or ''}}">
    <input type="hidden" name="sql" value="{{ sql or ''}}">
    <button type="submit" class="btn btn-success btn-block">Edit</button>
  </form>
</div>
<div class="mt-2">
  <form action="{{ url_for('.rows', dbname=db['name']) }}"
        method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="select" value="{{ query.get('select') or ''}}">
    <input type="hidden" name="from" value="{{ query.get('from') or ''}}">
    <input type="hidden" name="where" value="{{ query.get('where') or ''}}">
    <input type="hidden" name="orderby" value="{{ query.get('orderby') or ''}}">
    <input type="hidden" name="limit" value="{{ query.get('limit') or ''}}">
    <input type="hidden" name="offset" value="{{ query.get('offset') or ''}}">
    <input type="hidden" name="sql" value="{{ sql or ''}}">
    <button type="submit" class="btn btn-success btn-block">Execute</button>
  </form>
</div>
<div class="mt-2">
  <a href="{{ url_for('.home', dbname=db['name']) }}"
     role="button" class="btn btn-success btn-block">New</a>
</div>
<div class="mt-2">
  <form action="{{ url_for('view.create', dbname=db['name']) }}"
        method="GET">
    <input type="hidden" name="select" value="{{ query.get('select') or ''}}">
    <input type="hidden" name="from" value="{{ query.get('from') or ''}}">
    <input type="hidden" name="where" value="{{ query.get('where') or ''}}">
    <input type="hidden" name="orderby" value="{{ query.get('orderby') or ''}}">
    <input type="hidden" name="limit" value="{{ query.get('limit') or ''}}">
    <input type="hidden" name="offset" value="{{ query.get('offset') or ''}}">
    <button type="submit" class="btn btn-primary btn-block">Create view</button>
  </form>
</div>
<div class="mt-2">
  <form action="{{ url_for('.table', dbname=db['name']) }}"
        method="GET">
    <input type="hidden" name="select" value="{{ query.get('select') or ''}}">
    <input type="hidden" name="from" value="{{ query.get('from') or ''}}">
    <input type="hidden" name="where" value="{{ query.get('where') or ''}}">
    <input type="hidden" name="orderby" value="{{ query.get('orderby') or ''}}">
    <input type="hidden" name="limit" value="{{ query.get('limit') or ''}}">
    <input type="hidden" name="offset" value="{{ query.get('offset') or ''}}">
    <input type="hidden" name="sql" value="{{ sql or ''}}">
    <button type="submit" class="btn btn-primary btn-block">Create table</button>
  </form>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#rows").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
      "ordering": false,
    });
  });
</script>
{% endblock %}
