{% extends 'base.html' %}

{% block head_title %}{{ chart['spec']['title'] }}{% endblock %}

{% block body_title %}{{ chart['spec']['title'] }}{% endblock %}

{% block meta %}
<div>
  <a href="{{ json_url }}" class="badge badge-pill badge-primary">JSON</a>
</div>
{% endblock %} {# block meta #}

{% block main %}
<div id="chart" class="m-4"></div>
{% endblock %}

{% block api %}
<div>
  <a href="{{ url_for('api_chart.chart', dbname=db['name'], chartname=chart['name']) }}"
     class="badge badge-pill badge-dark">API</a>
</div>
{% endblock %} {# block api #}

{% block actions %}
{% if schema['type'] == constants.TABLE %}
<div class="mt-2">
  <a href="{{ url_for('table.rows', dbname=db['name'], tablename=schema['name']) }}"
     role="button" class="btn btn-outline-primary btn-block">
    Rows in table</a>
</div>
{% else %}
<div class="mt-2">
  <a href="{{ url_for('view.rows', dbname=db['name'], viewname=schema['name']) }}"
     role="button" class="btn btn-outline-primary btn-block">
    Rows in view</a>
</div>
{% endif %}
{% if has_write_access %}
<div class="mt-2">
  <form action="{{ url_for('.edit', dbname=db['name'], chartname=chart['name']) }}">
    <button type="submit" class="btn btn-info btn-block"
	    data-toggle="tooltip" data-placement="left"
	    title="Edit the Vega-Lite specification for this chart.">
      Edit</button>
  </form>
</div>
<div class="mt-2">
  <form action="{{ url_for('.edit', dbname=db['name'], chartname=chart['name']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-danger btn-block"
	    data-toggle="tooltip" data-placement="left"
	    title="Delete this chart."
            onclick="return confirm('Really delete the chart? Cannot be undone.')">
      Delete</button>
  </form>
</div>
{% endif %} {# has_write_access #}
{% endblock %}

{% block javascript %}
{% include 'chart/vega_lite_js.html' %}
<script type="text/javascript">
  vegaEmbed('#chart', {{ chart['spec'] | tojson(indent=2) }});
</script>
{% endblock %}
