{% extends 'base.html' %}

{% block head_title %}Create a table in database {{ db['id'] }}{% endblock %}

{% block body_title %}
Create a table in database <strong>{{ db['id'] }}</strong>
{% endblock %}

{% block main %}
<div class="card border-primary">
  <div class="card-body">
    <form action="{{ url_for('.create', dbid=db['id']) }}"
          method="POST">
      {{ csrf_token() }}
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="id" class="font-weight-bold">Table identifier</label>
          <input id="id" name="id" type="text" class="form-control" autofocus>
        </div>
      </div>
      <div class="form-row pt-4">
        <div class="form-group col-md-3">
          <label for="column0id" class="font-weight-bold">Column identifier</label>
        </div>
        <div class="form-group col-md-2">
          <label for="column0type" class="font-weight-bold">Type</label>
        </div>
        <div class="form-group col-md-1">
          <label for="column0primarykey" 
                 class="font-weight-bold">PRIMARY KEY</label>
        </div>
        <div class="form-group col-md-1">
          <label for="column0notnull"
                 class="font-weight-bold">NOT NULL</label>
        </div>
        <div class="form-group col-md-1">
          <label for="column0unique" 
                 class="font-weight-bold">UNIQUE</label>
        </div>
      </div>
      {% for n in range(config['TABLE_INITIAL_COLUMNS']) %}
      <div class="form-row">
        <div class="form-group col-md-3">
          <input id="column{{ n }}id" name="column{{ n }}id"
                 type="text" class="form-control">
        </div>
        <div class="form-group col-md-2">
          <select id="column{{ n }}type" name="column{{ n }}type"
                  class="form-control">
            {% for type in constants.COLUMN_TYPES %}
            <option>{{ type }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-1">
          <div class="form-check form-check-inline p-2">
            <input id="column{{ n }}primarykey" name="column{{ n }}primarykey"
                   type="checkbox" class="form-check-input"
                   value="true">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-check form-check-inline p-2">
            <input id="column{{ n }}notnull" name="column{{ n }}notnull"
                   type="checkbox" class="form-check-input"
                   value="true">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-check form-check-inline p-2">
            <input id="column{{ n }}unique" name="column{{ n }}unique"
                   type="checkbox" class="form-check-input"
                   value="true">
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="form-row">
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<p>
  <a href="{{ url_for('db.home', dbid=db['id']) }}"
     role="button" class="btn btn-secondary btn-block">Cancel</a>
</p>
{% endblock %}
