{% extends 'base.html' %}

{% block head_title %}Create a table in database {{ db['name'] }}{% endblock %}

{% block body_title %}Create a table in database {{ db['name'] }}{% endblock %}

{% block main %}
<div class="card border-primary">
  <div class="card-body">
    <form action="{{ url_for('.create', dbname=db['name']) }}"
          method="POST">
      {{ csrf_token() }}
      <div class="form-group row">
        <div class="col-md-2 text-right">
          <label for="name" class="col-form-label">Table name</label>
	</div>
	<div class="col-md-6">
          <input id="name" name="name" type="text" 
		 class="form-control" autofocus>
        </div>
      </div>
      <div class="form-row pt-4">
        <div class="form-group col-md-3">
          <label for="column0name">Column name</label>
        </div>
        <div class="form-group col-md-2">
          <label for="column0type">Type</label>
        </div>
        <div class="form-group col-md-1">
          <label for="column0primarykey">PRIMARY KEY</label>
        </div>
        <div class="form-group col-md-1">
          <label for="column0notnull">NOT NULL</label>
        </div>
        <div class="form-group col-md-1">
          <label for="column0unique">UNIQUE</label>
        </div>
      </div>
      {% for n in range(config['TABLE_INITIAL_COLUMNS']) %}
      <div class="form-row">
        <div class="form-group col-md-3">
          <input id="column{{ n }}name" name="column{{ n }}name"
                 type="text" class="form-control">
        </div>
        <div class="form-group col-md-2">
          <select id="column{{ n }}type" name="column{{ n }}type"
                  class="form-control">
            {% for type in constants.COLUMN_TYPES %}
            <option>{{ type }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-1">
          <div class="form-check form-check-inline p-2">
            <input id="column{{ n }}primarykey" name="column{{ n }}primarykey"
                   type="checkbox" class="form-check-input"
                   value="true">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-check form-check-inline p-2">
            <input id="column{{ n }}notnull" name="column{{ n }}notnull"
                   type="checkbox" class="form-check-input"
                   value="true">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-check form-check-inline p-2">
            <input id="column{{ n }}unique" name="column{{ n }}unique"
                   type="checkbox" class="form-check-input"
                   value="true">
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="form-row">
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('db.home', dbname=db['name']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
