{% extends 'base.html' %}

{% block head_title %}Create a table in database {{ db['id'] }}{% endblock %}

{% block body_title %}
Create a table in database
<a href="{{ url_for('db.index', dbid=db['id']) }}">{{ db['id'] }}</a>
{% endblock %}

{% block main %}
<div class="card border-primary">
  <div class="card-body">
    <form action="{{ url_for('.create', dbid=db['id']) }}"
          method="POST">
      {{ csrf_token() | safe }}
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="tid">Table identifier</label>
          <input id="tableid" name="tableid" autofocus
                 type="text" class="form-control">
        </div>
      </div>
      <div class="form-row pt-4">
        <div class="form-group col-md-3">
          <label for="column0id">Column identifier</label>
        </div>
        <div class="form-group col-md-2">
          <label for="column0type">Type</label>
        </div>
        <div class="form-group col-md-4">
          <label for="column0type">Constraints</label>
        </div>
      </div>
      {% for n in range(config['TABLE_INITIAL_COLUMNS']) %}
      <div class="form-row">
        <div class="form-group col-md-3">
          <input id="column{{ n }}id" name="column{{ n }}id"
                 type="text" class="form-control">
        </div>
        <div class="form-group col-md-2">
          <select id="column{{ n }}type" name="column{{ n }}type"
                  class="form-control">
            {% for type in constants.COLUMN_TYPES %}
            <option>{{ type }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-2">
          <div class="form-check form-check-inline pt-1">
            <input id="column{{ n }}primarykey" name="columnprimarykey"
                   type="radio" class="form-check-input"
                   value="{{ n }}">
            <label class="form-check-label" for="column{{ n }}primarykey">
              PRIMARY KEY</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-check form-check-inline pt-1">
            <input id="column{{ n }}notnull" name="column{{ n }}notnull"
                   type="checkbox" class="form-check-input"
                   value="true">
            <label class="form-check-label" for="column{{ n }}notnull">
              NOT NULL</label>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="form-row">
        <div class="col-md-2 offset-md-5">
          <div class="form-check form-check-inline">
            <input id="noprimarykey" name="columnprimarykey"
                   type="radio" class="form-check-input"
                   value="{{ -1 }}" checked>
            <label class="form-check-label" for="noprimarykey">None</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<p>
  <a href="{{ url_for('db.index', dbid=db['id']) }}"
     role="button" class="btn btn-secondary">Cancel</a>
</p>
{% endblock %}
