{% extends 'base.html' %}

{% block head_title %}Table {{ schema['name'] }}{% endblock %}

{% block body_title %}Table <strong>{{ schema['name'] }}</strong>{% endblock %}

{% block main %}
<table id="rows" class="table table-sm table-hover">
  <thead>
    <tr>
      {% for column in schema['columns'] %}
      <th>{{ column['name'] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      {% for value in row %}
      <td>{{ value | or_null_safe }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block meta %}
<div class="py-1">
  <div>
    <a href="{{ url_for('.rows', dbname=db['name'], tablename=schema['name']) + '.csv' }}"
       class="badge badge-pill badge-secondary">CSV format</a>
  </div>
  <div>
    <a href="{{ url_for('.rows', dbname=db['name'], tablename=schema['name']) + '.json' }}"
       class="badge badge-pill badge-secondary">JSON format</a>
  </div>
</div>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('.schema', dbname=db['name'], tablename=schema['name']) }}"
     role="button" class="btn btn-outline-primary btn-block">Schema</a>
</div>
<div class="pt-2">
  <form action="{{ url_for('query.home', dbname=db['name']) }}"
        method="GET">
    <input type="hidden" name="from" value="{{ schema['name'] }}">
    <button type="submit" class="btn btn-success btn-block">Query</button>
  </form>
</div>
<div class="pt-2">
  <a href="{{ url_for('.download', dbname=db['name'], tablename=schema['name']) }}"
     role="button" class="btn btn-primary btn-block">Download file</a>
</div>
{% if has_write_access %}
<div class="pt-4">
  <a href="{{ url_for('.row', dbname=db['name'], tablename=schema['name']) }}"
     role="button" class="btn btn-primary btn-block">
    Insert row</a>
</div>
<div class="pt-2">
  <a href="{{ url_for('.upload', dbname=db['name'], tablename=schema['name']) }}"
     role="button" class="btn btn-primary btn-block">
    Insert data from file</a>
</div>
<div class="pt-2">
  <a href="{{ url_for('.clone', dbname=db['name'], tablename=schema['name']) }}"
     role="button" class="btn btn-primary btn-block">
    Clone table</a>
</div>
<div class="pt-4">
  <form action="{{ url_for('.rows', dbname=db['name'], tablename=schema['name']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-danger btn-block"
            onclick="return confirm('Really delete? Cannot be undone.')">
      Delete table</button>
  </form>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#rows").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
    });
  });
</script>
{% endblock %}
