{% extends 'base.html' %}

{% block head_title %}
Table {{ schema['id'] }} in database {{ db['id'] }}
{% endblock %}

{% block body_title %}
Table
<a href="{{ url_for('schema.table', dbid=db['id'], tableid=schema['id']) }}">
  {{ schema['id'] }}</a>
in database 
<a href="{{ url_for('db.index', dbid=db['id']) }}">{{ db['id'] }}</a>
{% endblock %}

{% block main %}
<table class="table table-sm">
  <thead>
    <tr>
      {% for column in schema['columns'] %}
      <th>{{ column['id'] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      {% for value in row %}
      <td>
        {{ value }}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block actions %}
{% if has_write_access %}
<p>
  <a href="{{ url_for('.add', dbid=db['id'], tableid=schema['id']) }}"
     role="button" class="btn btn-primary">
    Add row</a>
</p>
{% endif %}
{% endblock %}
