{% extends 'base.html' %}

{% block head_title %}
Table {{ schema['id'] }} in database {{ db['id'] }}
{% endblock %}

{% block body_title %}
Table <strong>{{ schema['id'] }}</strong> in database {{ db['id'] }}
{% endblock %}

{% block main %}
<table id="rows" class="table table-sm table-hover">
  <thead>
    <tr>
      {% for column in schema['columns'] %}
      <th>{{ column['id'] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      {% for value in row %}
      <td>{{ value | or_null_safe }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block actions %}
<div>
  <form action="{{ url_for('query.home', dbid=db['id']) }}"
        method="GET">
    <input type="hidden" name="from" value="{{ schema['id'] }}">
    <button type="submit" class="btn btn-success btn-block">Query</button>
  </form>
</div>
<div class="pt-2">
  <a href="{{ url_for('.download', dbid=db['id'], tableid=schema['id']) }}"
     role="button" class="btn btn-secondary btn-block">Download CSV</a>
</div>
<div class="pt-2">
  <a href="{{ url_for('.schema', dbid=db['id'], tableid=schema['id']) }}"
     role="button" class="btn btn-outline-primary btn-block">Schema</a>
</div>
<div class="pt-2">
  <a href="{{ url_for('db.home', dbid=db['id']) }}"
     role="button" class="btn btn-outline-primary btn-block">
    Database<br>{{ db['id'] }}</a>
</div>
{% if has_write_access %}
<div class="pt-4">
  <a href="{{ url_for('.row', dbid=db['id'], tableid=schema['id']) }}"
     role="button" class="btn btn-primary btn-block">
    Add row</a>
</div>
<div class="pt-2">
  <a href="{{ url_for('.upload', dbid=db['id'], tableid=schema['id']) }}"
     role="button" class="btn btn-primary btn-block">
    Upload CSV file</a>
</div>
<div class="pt-2">
  <a href="{{ url_for('.clone', dbid=db['id'], tableid=schema['id']) }}"
     role="button" class="btn btn-info btn-block">
    Clone table</a>
</div>
<div class="pt-4">
  <form action="{{ url_for('.rows', dbid=db['id'], tableid=schema['id']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-danger btn-block"
            onclick="return confirm('Really delete? Cannot be undone.')">
      Delete table</button>
  </form>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#rows").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
    });
  });
</script>
{% endblock %}
