{% extends 'base.html' %}

{% block head_title %}
Schema table {{ schema['id'] }} in database {{ db['id'] }}
{% endblock %}

{% block body_title %}
Schema table <strong>{{ schema['id'] }}</strong>
<span class="text-muted">in database {{ db['id'] }}</span>
{% endblock %}

{% block main %}
<div class="card border-info">
  <div class="card-header bg-info text-white">Columns</div>
  <div class="card-body">
    <table class="table">
      <thead>
	<tr>
	  <th>Identifier</th>
	  <th>Type</th>
	  <th></th>
	  <th></th>
	</tr>
      </thead>
      <tbody>
	{% for column in schema['columns'] %}
	<tr>
	  <td>{{ column['id'] }}</td>
	  <td>{{ column['type'] }}</td>
	  <td>{{ column['primarykey'] and 'PRIMARY KEY' or '' }}</td>
	  <td>{{ column['notnull'] and 'NOT NULL' or '' }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block links %}
<div>
  <a href="{{ url_for('.rows', dbid=db['id'], tableid=schema['id']) }}"
     role="button" class="btn btn-outline-primary btn-block">
    Table<br>({{ nrows }} rows)</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('db.home', dbid=db['id']) }}"
     role="button" class="btn btn-outline-primary btn-block">
    Database<br>{{ db['id'] }}</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('.row', dbid=db['id'], tableid=schema['id']) }}"
     role="button" class="btn btn-primary btn-block">
    Add row</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('.clone', dbid=db['id'], tableid=schema['id']) }}"
     role="button" class="btn btn-info btn-block">
    Clone table</a>
</div>
{% endblock %}
