{% extends 'base.html' %}

{% block head_title %}Schema for table {{ schema['name'] }}{% endblock %}

{% block body_title %}
Schema for table <strong>{{ schema['name'] }}</strong>
{% endblock %}

{% block main %}
<div class="m-2">{{ schema.get('description') or 'No description.' }}</div>

<div class="card border-primary">
  <div class="card-header bg-primary text-white">
    <h5 class="card-title">Columns</h5>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Type</th>
	  <th>Constraints</th>
	</tr>
      </thead>
      <tbody>
	{% for column in schema['columns'] %}
	<tr>
	  <td>{{ column['name'] }}</td>
	  <td>{{ column['type'] }}</td>
	  <td>
            {{ column['primarykey'] and 'PRIMARY KEY' or '' }}
	    {{ column['notnull'] and 'NOT NULL' or '' }}
          </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="card border-info mt-4">
  <div class="card-header bg-secondary text-white">
    <h5 class="card-title">Indexes</h5>
  </div>
  <div class="card-body">
    {% if indexes %}
    <table class="table">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Unique</th>
	  <th>Columns</th>
          {% if has_write_access %}
	  <th></th>
          {% endif %}
	</tr>
      </thead>
      <tbody>
	{% for index in indexes %}
	<tr>
	  <td>{{ index['name'] }}</td>
	  <td>{{ index['unique'] and 'yes' or ''}}</td>
	  <td>{{ ', '.join(index['columns']) }}</td>
          {% if has_write_access %}
          <td>
            <form action="{{ url_for('index.delete', dbname=db['name'], indexname=index['name']) }}"
	          method="POST">
              {{ csrf_token() }}
              <input type="hidden" name="_http_method" value="DELETE">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
          {% endif %}
	</tr>
	{% endfor %}
      </tbody>
    </table>
    {% else %}
    <em>none</em>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block actions %}
<div class="mt-3">
  <a href="{{ url_for('.rows', dbname=db['name'], tablename=schema['name']) }}"
     role="button" class="btn btn-outline-primary btn-block">
    {{ db['tables'][schema['name']]['nrows'] }} rows</a>
</div>
{% if has_write_access %}
<div class="mt-3">
  <a href="{{ url_for('.edit', dbname=db['name'], tablename=schema['name']) }}"
     role="button" data-toggle="tooltip" data-placement="left"
     title="Edit the metadata of this table."
     role="button" class="btn btn-primary btn-block">
    Edit</a>
</div>
<div class="mt-3">
  <a href="{{ url_for('index.create', dbname=db['name'], tablename=schema['name']) }}"
     role="button" class="btn btn-secondary btn-block">
    Create index</a>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
