{% extends 'base.html' %}

{% block head_title %}Schema for table {{ schema['id'] }}{% endblock %}

{% block body_title %}Schema for table {{ schema['id'] }}{% endblock %}

{% block main %}
<div class="card border-primary">
  <div class="card-header bg-primary text-white">Columns</div>
  <div class="card-body">
    <table class="table">
      <thead>
	<tr>
	  <th>Identifier</th>
	  <th>Type</th>
	  <th></th>
	  <th></th>
	</tr>
      </thead>
      <tbody>
	{% for column in schema['columns'] %}
	<tr>
	  <td>{{ column['id'] }}</td>
	  <td>{{ column['type'] }}</td>
	  <td>{{ column['primarykey'] and 'PRIMARY KEY' or '' }}</td>
	  <td>{{ column['notnull'] and 'NOT NULL' or '' }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('.rows', dbid=db['id'], tableid=schema['id']) }}"
     role="button" class="btn btn-outline-primary btn-block">
    Table<br>{{ nrows }} rows</a>
</div>
{% if has_write_access %}
<div class="pt-4">
  <a href="{{ url_for('.row', dbid=db['id'], tableid=schema['id']) }}"
     role="button" class="btn btn-primary btn-block">
    Add row</a>
</div>
<div class="pt-2">
  <a href="{{ url_for('.clone', dbid=db['id'], tableid=schema['id']) }}"
     role="button" class="btn btn-primary btn-block">
    Clone table</a>
</div>
{% endif %}
{% endblock %}
