{% extends 'base.html' %}

{% block head_title %}
Update data in table {{ schema['name'] }} from file
{% endblock %}

{% block body_title %}
Update data in table {{ schema['name'] }} from file
{% endblock %}

{% block main %}
<div class="card border-primary">
  <div class="card-header bg-primary text-white">
    <h5 class="card-title">CSV file</h5>
  </div>
  <div class="card-body">
    <ul class="m-2">
      <li>
        The CSV file may contain at most one header line containing
        matching table column names.
      </li>
      <li>
        The CSV file must contain the primary key column(s).
      </li>
      <li>
        The values of every CSV record must match the types of the
        specified table columns.
      </li>
      <li>
	Every record in the CSV file must contain the same number of
	items.
      </li>
      <li>
        Each CSV record must refer to an existing row, which will be updated.
      </li>
      <li>
        If a table column constraint is violated by a CSV record, the
        entire operation is aborted, and no values are updated.
      </li>
    </ul>
    <form action="{{ url_for('.update_csv', dbname=db['name'], tablename=schema['name']) }}"
          enctype="multipart/form-data"
          method="POST"
          class="mt-4">
      {{ csrf_token() }}
      <div class="form-group row">
        <div class="col-md-2 text-right">
          <label for="csvfile" class="col-form-label">CSV file</label>
        </div>
        <div class="col-md-6">
          <input id="csvfile" name="csvfile"
                 type="file" class="form-control-file" autofocus>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2 text-right">
          <label for="delimiter" class="col-form-label">Delimiter</label>
        </div>
        <div class="col-md-6">
	  <select id="delimiter" name="delimiter" class="custom-select">
	    {% for name, data in config['CSV_FILE_DELIMITERS'].items() %}
	    <option value="{{ name }}">{{ data['label']}}</option>
	    {% endfor %}
	  </select>
        </div>
      </div>
      <div class="form-group row">
        <legend class="col-md-2 col-form-label pt-0 text-right">
	  Header record</legend>
        <div class="col-md-6">
	  <div class="form-check">
	    <input id="header" name="header" type="checkbox"
		   class="form-check-input" value="true" checked>
	    <label class="form-check-label" for="header">
	      First line of CSV file contains column names.
	    </label>
	  </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 offset-md-1">
          <button type="submit"  class="btn btn-primary btn-lg btn-block">
            Update from CSV file</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('.rows', dbname=db['name'], tablename=schema['name']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
