{% extends 'base.html' %}

{% block head_title %}Save chart {{ title }}{% endblock %}

{% block body_title %}Save chart {{ title }}{% endblock %}

{% block main %}
<div class="card border-success">
  <div class="card-header text-white bg-success">
    Save chart
  </div>
  <div class="card-body">
    <form action="{{ url_for('.save', dbname=db['name']) }}"
          method="POST">
      {{ csrf_token() }}
      <input type="hidden" name="sourcename" value="{{ schema['name'] }}">
      <input type="hidden" name="stencilname" value="{{ stencilname }}">
      {% for key, value in context.items() %}
      {% if not key in ('url', 'title') %}
      <input type="hidden" name="{{ key }}" value="{{ context[key] }}">
      {% endif %}
      {% endfor %}
      <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label text-right">
          Name</label>
        <div class="col-md-5">
          <input id="name" name="name" type="text"
                 class="form-control" aria-describedby="nameHelp" autofocus>
          <small id="nameHelp" class="form-text text-muted">
            The chart name must be unique within the database. It is
            the basis for the URL of the chart.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="title" class="col-md-2 col-form-label text-right">
          Title</label>
        <div class="col-md-10">
          <input id="title" name="title" type="text"
                 class="form-control" aria-describedby="titleHelp"
                 value="{{ context.get('title') or '' }}">
          <small id="titleHelp" class="form-text text-muted">
            The displayed title of the chart.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 offset-md-2">
          <button type="submit" class="btn btn-success btn-lg btn-block">
	    Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('stencil.select', dbname=db['name'], sourcename=schema['name']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
