{% extends 'base.html' %}

{% block head_title %}
Select chart for the tablese {{ schema['name'] }}
{% endblock %}

{% block body_title %}
Select chart for the table {{ schema['name'] }}
{% endblock %}

{% block main %}
{% for chart in charts %}
<div class="card border-info">
  <div class="card-header">{{ chart['title'] }}</div>
  <div class="card-body">
    <form action="{{ url_for('.show', dbname=db['name'], tablename=schema['name']/chart['name']) }}">
      <table class="table">
        {% for variable in chart['variables'] %}
        <tr>
          <td>{{ variable['name'] }}</td>
          <td>{{ variable['title'] }}</td>
          <td>{{ variable['column'] }}</td>
        </tr>
        {% endfor %}
      </table>
    </form>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('table.rows', dbname=db['name'], tablename=schema['name']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
