{% extends 'base.html' %}

{% block head_title %}
Select chart to render table {{ schema['name'] }}
{% endblock %}

{% block body_title %}
Select chart to render table {{ schema['name'] }}
{% endblock %}

{% block main %}
{% for stencil in stencils %}
<div class="card border-info my-2">
  <div class="card-header">
    <a class="btn btn-info" title="Click to expand." data-toggle="collapse"
       href="#{{ stencil['name'] }}" role="button" 
       aria-expanded="false" aria-controls="{{ stencil['name'] }}">
      {{ stencil['title'] }}</a>
  </div>
  <div class="card-body collapse" id="{{ stencil['name'] }}">
    <table class="table table-sm table-borderless">
      <tr>
	<th colspan="2">Chart variables</th>
	<th colspan="{{ len(chunk) }}">Table columns</th>
      </tr>
      {% for chunk in utils.chunks(stencil['combinations'], 5) %}
      {% for pos, variable in enumerate(stencil['variables']) %}
      <tr>
        <td>{{ variable['name'] }}</td>
        <td>{{ variable['title'] }}</td>
	{% for combination in chunk %}
	<td width="15%">{{ combination[variable['name']] }}</td>
	{% endfor %}
	{% for n in range(5 - len(chunk)) %}
	<td width="15%"></td>
	{% endfor %}
      </tr>
      {% endfor %} {# pos, variable #}
      <tr>
	<td colspan="2"></td>
	{% for combination in chunk %}
	<td class="pb-3">
	  <a class="btn btn-sm btn-outline-info btn-block"
	     role="button"
	     href="{{ utils.url_for('.render', dbname=db['name'], tablename=schema['name'], stencilname=stencil['name'], _query=combination) }}">Render</a>
	</td>
	{% endfor %}
	{% for n in range(5 - len(chunk)) %}
	<td></td>
	{% endfor %}
      </tr>
    {% endfor %}
    </table>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('table.rows', dbname=db['name'], tablename=schema['name']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
