{% extends 'base.html' %}

{% block head_title %}
Create a Vega-Lite visualization for {{ schema['type'] }} {{ schema['name'] }}
{% endblock %}

{% block body_title %}
Create a Vega-Lite visualization for {{ schema['type'] }} {{ schema['name'] }}
{% endblock %}

{% block main %}
<div class="card border-info">
  <div class="card-body">
    <form action="{{ url_for('.create', dbname=db['name'], sourcename=schema['name']) }}"
          method="POST">
      {{ csrf_token() }}
      <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label text-right">
          Name</label>
        <div class="col-md-6">
          <input id="name" name="name" type="text"  autofocus
		 class="form-control" value="{{ name or '' }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="spec" class="col-md-2 col-form-label text-right">
          Vega-Lite specification
          <a href="{{ config['VEGA_LITE_SITE_URL'] }}" target="_blank">&#8599;</a>
        </label>
        <div class="col-md-10">
          <textarea id="spec" name="spec" rows="24"
                    class="form-control text-monospace"
		    >{{ spec or '' }}</textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 offset-md-2">
          <button type="submit" class="btn btn-info btn-lg btn-block">
            Create visualization</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<div class="mt-2">
  <a href="{{ utils.url_for_rows(db, schema) }}"
     role="button" target="_blank" class="btn btn-outline-primary btn-block">
    {{ schema['type'].capitalize()}}
    <br>
    {{ schema['nrows']|thousands }} rows &#8599;
  </a>
</div>
<div class="mt-2">
  <a href="{{ utils.url_for_rows(db, schema) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
