{% extends 'base.html' %}

{% block head_title %}{{ title }}{% endblock %}

{% block body_title %}{{ title }}{% endblock %}

{% block main %}
<div class="m-2">{{ db.get('description')|markdown }}</div>

<div class="row">
  <div class="col-md-6">
    <div class="card border-primary">
      <div class="card-header border-primary">
	<div class="card-title mb-0">Tables</div>
      </div>
      <div class="card-body">
        {% if db['tables'] %}
        {% for table in utils.sorted_schema(db['tables'].values()) %}
        <div class="row">
	  <div class="col-md-6">
	    <strong title="{{ table['title'] or '' }}">{{ table['name'] }}</strong>
          </div>
          <div class="col-md-3">
	    <a href="{{ url_for('table.rows', dbname=db['name'], tablename=table['name']) }}">
	      {{ table['nrows'] | informative }} rows</a>
          </div>
          <div class="col-md-3">
            <a href="{{ url_for('table.schema', dbname=db['name'], tablename=table['name']) }}">
              schema</a>
          </div>
        </div>
        <div class="row pb-2">
          <div class="col-md-11 offset-md-1">
            {% for c in charts[table['name']] %}
            <a href="{{ url_for('chart.display', dbname=db['name'], chartname=c['name']) }}"
               title="{{ c['spec']['title'] }}"
               class="text-info pr-3">{{ c['name'] }}</a>
            {% endfor %}
          </div>
        </div>
        {% endfor %} {# for table in #}
        {% else %}
        <em>none</em>
        {% endif %} {# if db['tables'] #}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card border-primary">
      <div class="card-header border-primary">
	<div class="card-title mb-0">Views</div>
      </div>
      <div class="card-body">
        {% if db['views'] %}
        {% for view in utils.sorted_schema(db['views'].values()) %}
        <div class="row">
	  <div class="col-md-6">
	    <strong title="{{ view['title'] or '' }}">{{ view['name'] }}</strong>
          </div>
          <div class="col-md-3">
	    <a href="{{ url_for('view.rows', dbname=db['name'], viewname=view['name']) }}">
	      {{ view['nrows'] | informative }} rows</a>
          </div>
          <div class="col-md-3">
            <a href="{{ url_for('view.schema', dbname=db['name'], viewname=view['name'])}}">
              schema</a>
          </div>
	</div>
        <div class="row pb-2">
          <div class="col-md-11 offset-md-1">
            {% for c in charts[view['name']] %}
            <a href="{{ url_for('chart.display', dbname=db['name'], chartname=c['name']) }}"
               title="{{ c['spec']['title'] }}"
               class="text-info pr-3">{{ c['name'] }}</a>
            {% endfor %}
          </div>
          {% endfor %} {# for view in #}
          {% else %}
          <em>none</em>
          {% endif %} {# if db['views'] #}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {# block main #}

{% block meta %}
<div>
  <a href="{{ url_for('.display', dbname=db['name']) + '.tar.gz' }}"
     title="Gzipped tar file of a directory containing all tables as CSV files."
     class="badge badge-pill badge-primary">CSV tar.gz</a>
</div>
<div>
  <a href="{{ url_for('.display', dbname=db['name']) + '.xlsx' }}"
     title="Excel 2007 file"
     class="badge badge-pill badge-primary">XLSX</a>
</div>
{% endblock %} {# block meta #}

{% block api %}
<div>
  <a href="{{ url_for('api_db.database', dbname=db['name']) }}"
     class="badge badge-pill badge-dark">API</a>
</div>
{% endblock %} {# block api #}

{% block actions %}
<div class="mt-2">
  <a href="{{ url_for('query.define', dbname=db['name']) }}"
     role="button" data-toggle="tooltip" data-placement="left"
     title="Construct an SQL query to extract data from the database."
     class="btn btn-success btn-block">Query</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('.download', dbname=db['name']) }}"
     role="button" data-toggle="tooltip" data-placement="left"
     title="Download the DbShare SQLite3 database file."
     class="btn btn-outline-primary btn-block">Download</a>
</div>
{% if has_write_access %}
<div class="mt-2">
  <a href="{{ url_for('table.create', dbname=db['name']) }}"
     role="button" data-toggle="tooltip" data-placement="left"
     title="Create a table from scratch."
     class="btn btn-primary btn-block">
    Create table</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('.upload', dbname=db['name']) }}"
     role="button" data-toggle="tooltip" data-placement="left"
     title="Upload CSV file to create a new table with content."
     class="btn btn-primary btn-block">Upload table</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('.edit', dbname=db['name']) }}"
     role="button" data-toggle="tooltip" data-placement="left"
     title="Edit the metadata of this database."
     class="btn btn-primary btn-block">Edit database</a>
</div>
{% endif %} {# has_write_access #}
<div class="mt-2">
  <a href="{{ url_for('.clone', dbname=db['name']) }}"
     role="button" data-toggle="tooltip" data-placement="left"
     title="Make a complete copy of this database."
     class="btn btn-primary btn-block">Clone database</a>
</div>
{% if has_write_access %}
<div class="mt-2">
  <form action="{{ url_for('.vacuum', dbname=db['name']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-outline-secondary btn-block"
            data-toggle="tooltip" data-placement="left"
            title="Remove unused memory space from the database.">
      Vacuum</button>
  </form>
</div>
<div class="mt-2">
  <form action="{{ url_for('.analyze', dbname=db['name']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-outline-secondary btn-block"
            data-toggle="tooltip" data-placement="left"
            title="Collect internal statistics to improve performance.">
      Analyze</button>
  </form>
</div>
{% endif %} {# has_write_access #}

{% if can_change_mode %}
{% if db['public'] %}
<div class="mt-2">
  <form action="{{ url_for('.private', dbname=db['name']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-warning btn-block"
            onclick="return confirm('Only you will be able to read the data in this database.')">
      Set private access</button>
  </form>
</div>
{% else %}
<div class="mt-2">
  <form action="{{ url_for('.public', dbname=db['name']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-warning btn-block"
            onclick="return confirm('Everyone will be able to read the data in this database.')">
      Set public access</button>
  </form>
</div>
{% endif %} {# public #}

{% if db['readonly'] %}
<div class="mt-2">
  <form action="{{ url_for('.readwrite', dbname=db['name']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-warning btn-block"
            onclick="return confirm('The database will be modifiable.')">
      Set read-write mode</button>
  </form>
</div>
{% else %}
<div class="mt-2">
  <form action="{{ url_for('.readonly', dbname=db['name']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-warning btn-block"
            onclick="return confirm('The database will be read-only.')">
      Set read-only mode</button>
  </form>
</div>
{% endif %} {# readonly #}
{% endif %} {# can_change_mode #}

{% if has_write_access %}
<div class="mt-2">
  <form action="{{ url_for('.edit', dbname=db['name']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-danger btn-block"
	    data-toggle="tooltip" data-placement="left"
	    title="Delete this database and all its contents."
            onclick="return confirm('Really delete the database? Cannot be undone.')">
      Delete</button>
  </form>
</div>
{% endif %} {# has_write_access #}
{% endblock %} {# block actions #}

{% block info %}
<div class="small mt-4">
  <div>
    Access {{ db['public'] | access }}
  </div>
  <div class="pt-1">
    Mode {{ db['readonly'] | mode }}
  </div>
  <div class="pt-1">
    Owner
    {% if g.current_user and g.current_user == db['owner'] or g.is_admin %}
    <a href="{{ url_for('user.profile', username=db['owner'])}}">
      {{ db['owner'] }}</a>
    {% else %}
    {{ db['owner'] }}
    {% endif %}
  </div>
  <div class="pt-1">
    Size {{ db['size'] | size_none }}  bytes
  </div>
  <div class="pt-1">
    Modified <span class="localtime">{{ db['modified'] }}</span>
  </div>
  <div class="pt-1">
    <a href="{{ url_for('db.logs', dbname=db['name']) }}">Logs</a>
  </div>
  <div class="pt-1">
    Created <span class="localtime">{{ db['created'] }}</span>
  </div>
  {% for hashname in db['hashes'] %}
  <div class="pt-1">
    {{ hashname }} {{ db['hashes'][hashname] }}
  </div>
  {% endfor %}
</div>
{% endblock %} {# block info #}

{% block javascript %}
<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
