{% extends 'base.html' %}

{% block head_title %}Create a table by file upload{% endblock %}

{% block body_title %}Create a table by file upload{% endblock %}

{% block main %}
<div class="card border-primary">
  <h3 class="card-header">CSV file</h3>
  <div class="card-body">
    <ul class="m-2">
      <li>
        The CSV file may contain at most one header line containing
        names for the table columns.
      </li>
      <li>
        The values of the CSV records are inspected to infer the
        appropriate type for the table columns.
      </li>
      <li>
	Every record in the CSV file must contain the same number of
	items.
      </li>
    </ul>
    <form action="{{ url_for('.upload', dbname=db['name']) }}"
          enctype="multipart/form-data"
          method="POST"
          class="mt-4">
      {{ csrf_token() }}
      <div class="form-group row">
        <div class="col-md-2 text-right">
          <label for="csvfile" class="col-form-label">CSV file</label>
        </div>
        <div class="col-md-6">
          <input id="csvfile" name="csvfile"
                 type="file" class="form-control-file" autofocus>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2 text-right">
          <label for="delimiter" class="col-form-label">Delimiter</label>
        </div>
        <div class="col-md-2">
	  <select id="delimiter" name="delimiter" class="custom-select">
	    {% for name, data in config['CSV_FILE_DELIMITERS'].items() %}
	    <option value="{{ name }}">{{ data['label']}}</option>
	    {% endfor %}
	  </select>
        </div>
      </div>
      <div class="form-group row">
        <legend class="col-md-2 col-form-label pt-0 text-right">
	  Header record</legend>
	<div class="col-md-6">
	  <div class="form-check">
	    <input id="header" name="header" type="checkbox"
		   class="form-check-input" value="true" checked>
	    <label class="form-check-label" for="header">
	      First line of CSV file contains column names.
	    </label>
	  </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2 text-right">
          <label for="tablename" class="col-form-label">
            Table name</label>
        </div>
        <div class="col-md-4">
          <input id="tablename" name="tablename"
                 type="text" class="form-control">
          <small class="text-muted">
            If none specified, the filename will be used.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4 offset-md-2">
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Upload CSV file</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('.display', dbname=db['name']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
