{% extends 'base.html' %}

{% block head_title %}Edit database {{ db['name'] }} metadata{% endblock %}

{% block body_title %}Edit database {{ db['name'] }} metadata{% endblock %}

{% block main %}
<form action="{{ url_for('.edit', dbname=db['name']) }}"
      method="POST">
  {{ csrf_token() }}
  <div class="form-group row">
    <label for="name" class="col-md-2 col-form-label text-right">
      Name</label>
    <div class="col-md-6">
      <input id="name" name="name" type="text" autofocus
             aria-describedby="nameHelp" class="form-control" 
             value="{{ db['name'] }}">
      <small id="nameHelp" class="form-text text-muted">
        The database name must be unique for this site.
        <br>
        This means that other user's database names restrict which
        name you can use.
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label for="title" class="col-md-2 col-form-label text-right">
      Title</label>
    <div class="col-md-10">
      <input id="title" name="title" type="text" class="form-control"
	     value="{{ db.get('title') or '' }}">
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-md-2 col-form-label text-right">
      Description</label>
    <div class="col-md-10">
      <textarea id="description" name="description" 
                class="form-control" rows="4"
		>{{ db.get('description') or '' }}</textarea>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 offset-md-2">
      <button type="submit" 
              class="btn btn-primary btn-lg btn-block">Save</button>
    </div>
  </div>
</form>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('.display', dbname=db['name']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
