{% extends 'base.html' %}

{% block head_title %}Users{% endblock %}

{% block body_title %}Users{% endblock %}

{% block main %}
<table id="users" class="table table-sm">
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>
        <a href="{{ url_for('.account', username=user['username']) }}">
          {{ user['username'] }}</a>
      </td>
      <td>{{ user['email'] }}</td>
      <td>{{ user['role'] }}</td>
      <td>{{ user['status'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block javascript_code %}
<script>
  $(function() {
    $("#users").DataTable( {
      "pagingType": "full_numbers",
      "order": [[ 0, "asc"]],
    });
  });
</script>
{% endblock %}
