{% extends 'base.html' %}

{% block head_title %}Edit user {{ user['username'] }}{% endblock %}

{% block body_title %}Edit user {{ user['username'] }}{% endblock %}

{% block main %}
<form action="{{ url_for('.edit', username=user['username']) }}"
      method="POST">
  {{ csrf_token() }}
  <div class="form-group row">
    <label for="email" class="col-md-2 col-form-label text-right">Email</label>
    <div class="col-md-6">
      <input type="email" class="form-control"
             id="email" name="email" value="{{ user['email'] }}">
    </div>
  </div>
  {% if change_role %}
  <div class="form-group row">
    <label for="role" class="col-md-2 col-form-label text-right">Role</label>
    <div class="col-md-6">
      {% for role in constants.USER_ROLES %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="role" id="role_{{ role }}" value="{{ role }}"
               {{ role == user['role'] and 'checked' or '' }}>
        <label class="form-check-label" for="role_{{ role }}">{{ role }}</label>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <div class="form-group row">
    <label for="apikey" class="col-md-2 text-right">API key</label>
    <div class="col-md-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="true"
               name="apikey" id="apikey">
        <label class="form-check-label" for="apikey">
          Generate a new API key.
        </label>
      </div>
    </div>
  </div>
  {% if g.is_admin %}
  <div class="form-group row">
    <label for="quota" class="col-md-2 col-form-label text-right">
      Size quota (bytes)</label>
    <div class="col-md-4">
      <input type="number" class="form-control"
             id="quota" name="quota" value="{{ user.get('quota') or '' }}">
    </div>
  </div>
  {% endif %}
  <div class="form-group row">
    <div class="col-md-2 offset-md-2">
      <button type="submit" class="btn btn-block btn-primary">Save</button>
    </div>
  </div>
</form>
{% endblock %}

{% block actions %}
<form action="{{ url_for('.profile', username=user['username']) }}"
      method="GET">
  <button type="submit" class="btn btn-block btn-secondary">Cancel</button>
</form>
{% endblock %}
