{% extends 'base.html' %}

{% block head_title %}User {{ user['username'] }}{% endblock %}

{% block body_title %}User {{ user['username'] }}{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <tr>
        <th class="text-right">Email</th>
        <td>{{ user['email'] }}</td>
      </tr>
      <tr>
        <th class="text-right">Role</th>
        <td>{{ user['role'] }}</td>
      </tr>
      <tr>
        <th class="text-right">Status</th>
        <td>{{ user['status'] }}</td>
        {% if enable_disable %}
        <td>
          {% if user['status'] != constants.ENABLED %}
          <form action="{{ url_for('.enable', username=user['username']) }}"
                method="POST">
            {{ csrf_token() | safe }}
            <button type="submit" class="btn btn-success">Enable</button>
          </form>
          {% elif user['status'] == constants.ENABLED %}
          <form action="{{ url_for('.disable', username=user['username']) }}"
                method="POST">
            {{ csrf_token() | safe }}
            <button type="submit" class="btn btn-danger">Disable</button>
          </form>
          {% endif %}
        </td>
        {% endif %}
      </tr>
      <tr>
        <th class="text-right">API key</th>
        <td>{{ user.get('apikey') or '-' }}</td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}

{% block info %}
<div class="small">
  <div class="mt-4">
    Modified <span class="localtime">{{ user['modified'] }}</span>
  </div>
  <div class="mt-2">
    <a href="{{ url_for('.logs', username=user['username']) }}">Logs</a>
  </div>
  <div class="mt-2">
    Created <span class="localtime">{{ user['created'] }}</span>
  </div>
</div>
{% endblock %}

{% block actions %}
{% if g.current_user %}
<a href="{{ url_for('.edit', username=user['username']) }}"
   role="button" class="btn btn-primary">Edit</a>
<form action="{{ url_for('.logout') }}"
      method="POST"
      class="mt-2">
  {{ csrf_token() | safe }}
  <button type="submit" class="btn btn-warning">Logout</button>
</form>
{% endif %}
{% endblock %}
