{% extends 'base.html' %}

{% block head_title %}
View {{ schema['id'] }} in database {{ db['id'] }}
{% endblock %}

{% block body_title %}
View <strong>{{ schema['id'] }}</strong>
<span class="text-muted">in database {{ db['id'] }}</span>
{% endblock %}

{% block main %}
<table id="rows" class="table table-sm table-hover">
  <thead>
    <tr>
      {% for column in schema['columns'] %}
      <th>{{ column['id'] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      {% for value in row %}
      <td>{{ value | or_null_safe }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('view.schema', dbid=db['id'], viewid=schema['id']) }}"
     role="button" class="btn btn-outline-success btn-block">Schema</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('db.home', dbid=db['id']) }}"
     role="button" class="btn btn-outline-primary btn-block">
    Database<br>{{ db['id'] }}</a>
</div>
{% if has_write_access %}
<div class="mt-4">
  <form action="{{ url_for('.rows', dbid=db['id'], viewid=schema['id']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-danger btn-block"
            onclick="return confirm('Really delete? Cannot be undone.')">
      Delete view</button>
  </form>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#rows").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
    });
  });
</script>
{% endblock %}
