{% extends 'base.html' %}

{% block head_title %}Rows in view {{ schema['name'] }}{% endblock %}

{% block body_title %}Rows in view <strong>{{ schema['name'] }}</strong>{% endblock %}

{% block main %}
<div class="mx-3">
  <code>SQL> {{ sql }};</code> &rarr; {{ nrows }} rows
</div>
<div class="mt-3">
  <table id="rows" class="table table-sm table-hover">
    <thead>
      <tr>
	{% for column in columns %}
	<th>{{ column }}</th>
	{% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
	{% for value in row %}
	<td>{{ value | or_null_safe }}</td>
	{% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('view.schema', dbname=db['name'], viewname=schema['name']) }}"
     role="button" class="btn btn-outline-success btn-block">Schema</a>
</div>
<div class="pt-2">
  <a href="{{ url_for('.download', dbname=db['name'], viewname=schema['name']) }}"
     role="button" class="btn btn-success btn-block">Download file</a>
</div>
{% if has_write_access %}
<div class="pt-4">
  <a href="{{ url_for('.clone', dbname=db['name'], viewname=schema['name']) }}"
     role="button" class="btn btn-success btn-block">
    Clone view</a>
</div>
<div class="pt-4">
  <form action="{{ url_for('.rows', dbname=db['name'], viewname=schema['name']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-danger btn-block"
            onclick="return confirm('Really delete? Cannot be undone.')">
      Delete view</button>
  </form>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#rows").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
      "ordering": false,
    });
  });
</script>
{% endblock %}
