{% extends 'base.html' %}

{% block head_title %}Rows in view {{ schema['id'] }}{% endblock %}

{% block body_title %}Rows in view <strong>{{ schema['id'] }}</strong>{% endblock %}

{% block main %}
<table id="rows" class="table table-sm table-hover">
  <thead>
    <tr>
      {% for column in columns %}
      <th>{{ column }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      {% for value in row %}
      <td>{{ value | or_null_safe }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('view.schema', dbid=db['id'], viewid=schema['id']) }}"
     role="button" class="btn btn-outline-success btn-block">Schema</a>
</div>
<div class="pt-2">
  <a href="{{ url_for('.download', dbid=db['id'], viewid=schema['id']) }}"
     role="button" class="btn btn-primary btn-block">Download file</a>
</div>
{% if has_write_access %}
<div class="pt-4">
  <a href="{{ url_for('.clone', dbid=db['id'], viewid=schema['id']) }}"
     role="button" class="btn btn-success btn-block">
    Clone view</a>
</div>
<div class="pt-4">
  <form action="{{ url_for('.rows', dbid=db['id'], viewid=schema['id']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-danger btn-block"
            onclick="return confirm('Really delete? Cannot be undone.')">
      Delete view</button>
  </form>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#rows").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
    });
  });
</script>
{% endblock %}
