{% extends 'base.html' %}

{% block head_title %}Schema for view {{ schema['name'] }}{% endblock %}

{% block body_title %}Schema for view <strong>{{ schema['name'] }}</strong>{% endblock %}

{% block main %}
<table class="table">
  <tr>
    <th width="25%">Description</th>
    <td>{{ schema.get('description') or '' }}</td>
  </tr>
  <tr>
    <th>SELECT</th>
    <td>{{ schema['query']['select'] }}</td>
  </tr>
  <tr>
    <th>FROM</th>
    <td>{{ schema['query']['from'] }}</td>
  </tr>
  <tr>
    <th>WHERE</th>
    <td>{{ schema['query']['where'] }}</td>
  </tr>
  <tr>
    <th>ORDER BY</th>
    <td>{{ schema['query']['orderby'] }}</td>
  </tr>
  <tr>
    <th>LIMIT</th>
    <td>{{ schema['query']['limit'] }}</td>
  </tr>
</table>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('.rows', dbname=db['name'], viewname=schema['name']) }}"
     role="button" class="btn btn-outline-primary btn-block">
    View<br>{{ db['views'][schema['name']]['nrows'] }} rows</a>
</div>
<div class="pt-2">
  <form action="{{ url_for('query.home', dbname=db['name']) }}"
        method="GET">
    <input type="hidden" name="select" 
           value="{{ schema['query'].get('select') or ''}}">
    <input type="hidden" name="from"
           value="{{ schema['query'].get('from') or ''}}">
    <input type="hidden" name="where" 
           value="{{ schema['query'].get('where') or ''}}">
    <input type="hidden" name="orderby" 
           value="{{ schema['query'].get('orderby') or ''}}">
    <input type="hidden" name="limit"
           value="{{ schema['query'].get('limit') or ''}}">
    <button type="submit" class="btn btn-success btn-block">Query</button>
  </form>
</div>
{% endblock %}
