{% extends 'base.html' %}

{% block head_title %}Schema for view {{ schema['name'] }}{% endblock %}

{% block body_title %}Schema for view <strong>{{ schema['name'] }}</strong>{% endblock %}

{% block main %}
<table class="table">
  <tr>
    <th width="25%">Description</th>
    <td>{{ schema.get('description') or '' }}</td>
  </tr>
  <tr>
    <th>SELECT</th>
    <td>{{ schema['query']['select'] }}</td>
  </tr>
  <tr>
    <th>FROM</th>
    <td>{{ html_from|safe }}</td>
  </tr>
  <tr>
    <th>WHERE</th>
    <td>{{ schema['query']['where'] or ''}}</td>
  </tr>
  <tr>
    <th>ORDER BY</th>
    <td>{{ schema['query']['orderby'] or ''}}</td>
  </tr>
  <tr>
    <th>LIMIT</th>
    <td>{{ schema['query']['limit'] or ''}}</td>
  </tr>
</table>
{% endblock %}

{% block actions %}
<div class="mt-3">
  <a href="{{ url_for('.rows', dbname=db['name'], viewname=schema['name']) }}"
     role="button" class="btn btn-outline-success btn-block">
    {{ db['views'][schema['name']]['nrows'] }} rows</a>
</div>
<div class="mt-3">
  <a href="{{ url_for('.edit', dbname=db['name'], viewname=schema['name']) }}"
     role="button" data-toggle="tooltip" data-placement="left"
     title="Edit the metadata of this view."
     role="button" class="btn btn-success btn-block">
    Edit</a>
</div>
<div class="mt-3">
  <form action="{{ url_for('query.home', dbname=db['name']) }}"
        method="GET">
    <input type="hidden" name="select" 
           value="{{ schema['query'].get('select') or ''}}">
    <input type="hidden" name="from"
           value="{{ schema['query'].get('from') or ''}}">
    <input type="hidden" name="where" 
           value="{{ schema['query'].get('where') or ''}}">
    <input type="hidden" name="orderby" 
           value="{{ schema['query'].get('orderby') or ''}}">
    <input type="hidden" name="limit"
           value="{{ schema['query'].get('limit') or ''}}">
    <button type="submit" class="btn btn-success btn-block">Query</button>
  </form>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
