{% extends 'base.html' %}

{% block head_title %}Download table {{ schema['name'] }}{% endblock %}

{% block body_title %}Download table {{ schema['name'] }}{% endblock %}

{% block main %}
<div class="card border-primary">
  <div class="card-header bg-primary text-white">
    <h5 class="card-title">CSV file</h5>
  </div>
  <div class="card-body">
    <form action="{{ url_for('.download_csv', dbname=db['name'], tablename=schema['name']) }}"
          method="GET">
      <div class="form-group row">
        <label for="delimiter" 
	       class="col-md-2 col-form-label text-right">Delimiter</label>
	<div class="col-md-2">
	  <select id="delimiter" name="delimiter" class="custom-select">
	    {% for name, data in config['CSV_FILE_DELIMITERS'].items() %}
	    <option value="{{ name }}">{{ data['label']}}</option>
	    {% endfor %}
	  </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="header" class="col-md-2  text-right">Header</label>
	<div class="col-sm-10">
	  <div class="form-check">
            <input id="header" name="header" type="checkbox"
		   class="form-check-input" value="true" checked>
            <label class="form-check-label" for="header">
	      Include a header record.
            </label>
	  </div>
	</div>
      </div>
      <div class="form-group row">
        <label for="rowid" class="col-md-2 text-right">Rowid</label>
	<div class="col-sm-10">
	  <div class="form-check">
            <input id="rowid" name="rowid" type="checkbox"
		   class="form-check-input" value="true">
            <label class="form-check-label" for="rowid">
	      Include the rowid as the first column.
            </label>
	  </div>
	</div>
      </div>
      <div class="form-group row">
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Download CSV file</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('.rows', dbname=db['name'], tablename=schema['name']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
