{% extends 'base.html' %}

{% block head_title %}{{ doc.front_matter["title"] }}{% endblock %}

{% block body_title %}{{ doc.front_matter["title"] }}{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-9 offset-md-1">
    {{ doc.md | display_markdown }}
  </div>
</div>
{% endblock %} {# block main #}

{% block links %}
<ul class="list-group">
  {% for d in docs %}
  <li class="list-group-item }}">
    <a href="{{ url_for('about.documentation', page=d.slug) }}">{{ d.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
