{% extends 'base.html' %}

{% block head_title %}Software in this system{% endblock %}

{% block body_title %}Software in this system{% endblock %}

{% block main %}
<table class="table table-sm mt-2">
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    {% for name, url, version in data %}
    <tr>
      <td>{{ name }}</td>
      <td><a href="{{ url }}" target="_blank">{{ url }}</a></td>
      <td>{{ version or '?' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
