{% extends 'base.html' %}

{% block head_title %}{{ title }}{% endblock %}

{% block body_title %}{{ title }}{% endblock %}

{% block main %}
<div class="m-2">{{ schema.get('description') or '' }}</div>

<div class="mx-3 ml-4">
  <span class="monospace mr-4">{{ sql }};</span>
  &rarr; {{ schema['nrows']|thousands }} rows
</div>

<div class="mt-4">
  <table id="rows" class="table table-sm table-hover">
    <thead>
      <tr>
	{% for column in schema['columns'] %}
	<th>{{ column['name'] }}</th>
	{% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
	{% for value in row %}
	<td>{{ value|none_as_literal_null }}</td>
	{% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %} {# block main #}

{% block meta %}
<div class="py-1">
  <div>
    <a href="{{ url_for('.rows', dbname=db['name'], viewname=schema['name']) + '.csv' }}"
       class="badge badge-pill badge-primary">Data CSV</a>
  </div>
  <div>
    <a href="{{ url_for('.rows', dbname=db['name'], viewname=schema['name']) + '.json' }}"
       class="badge badge-pill badge-primary">Data JSON</a>
  </div>
</div>
{% endblock %} {# block meta #}

{% block links %}
{% if visuals %}
<div class="card border-info mt-2">
  <div class="card-header text-info py-2">Visualizations</div>
  <div class="card-body my-0 py-1">
    {% for visual in visuals %}
    <div>
      <a href="{{ url_for('visual.display', dbname=db['name'], visualname=visual['name']) }}"
	 class="card-link text-info">
	{{ visual['name'] }}</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %} {# block links #}

{% block actions %}
<div class="mt-2">
  <a href="{{ url_for('view.schema', dbname=db['name'], viewname=schema['name']) }}"
     role="button" class="btn btn-outline-primary btn-block">Schema</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('.download', dbname=db['name'], viewname=schema['name']) }}"
     role="button" data-toggle="tooltip" data-placement="left"
     title="Download CSV or JSON file of the view contents."
     class="btn btn-outline-primary btn-block">Download</a>
</div>
{% if has_write_access %}
<div class="mt-2">
    <a href="{{ url_for('template.select', dbname=db['name'], sourcename=schema['name']) }}"
       role="button" class="btn btn-info btn-block">
      Create visualization</a>
</div>
{% endif %} {# if has_write_access #}
<div class="mt-2">
  <form action="{{ url_for('query.home', dbname=db['name']) }}"
        method="GET">
    <input type="hidden" name="select" value="{{ query.get('select') or ''}}">
    <input type="hidden" name="from" value="{{ query.get('from') or ''}}">
    <input type="hidden" name="where" value="{{ query.get('where') or ''}}">
    <input type="hidden" name="orderby" value="{{ query.get('orderby') or ''}}">
    <input type="hidden" name="limit" value="{{ query.get('limit') or ''}}">
    <button type="submit" class="btn btn-success btn-block"
	    data-toggle="tooltip" data-placement="left"
	    title="Prepare a new query from this view's definition.">
      Query</button>
  </form>
</div>
{% if has_write_access %}
<div class="mt-2">
  <a href="{{ url_for('.clone', dbname=db['name'], viewname=schema['name']) }}"
     role="button" data-toggle="tooltip" data-placement="left"
     title="Make a complete copy of this view."
     class="btn btn-primary btn-block">
    Clone</a>
</div>
<div class="mt-2">
  <form action="{{ url_for('query.table', dbname=db['name']) }}"
        method="GET">
    <input type="hidden" name="select" value="{{ query.get('select') or ''}}">
    <input type="hidden" name="from" value="{{ query.get('from') or ''}}">
    <input type="hidden" name="where" value="{{ query.get('where') or ''}}">
    <input type="hidden" name="orderby" value="{{ query.get('orderby') or ''}}">
    <input type="hidden" name="limit" value="{{ query.get('limit') or ''}}">
    <button type="submit" class="btn btn-primary btn-block"
	    data-toggle="tooltip" data-placement="left"
	    title="Create a table from the view's results.">
      Create table</button>
  </form>
</div>
<div class="mt-2">
  <form action="{{ url_for('.schema', dbname=db['name'], viewname=schema['name']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-danger btn-block"
	    data-toggle="tooltip" data-placement="left"
	    title="Delete this view and all its dependent views and visuals."
            onclick="return confirm('Really delete? Cannot be undone.')">
      Delete</button>
  </form>
</div>
{% endif %} {# if has_write_access #}
{% endblock %} {# block actions #}

{% block javascript %}
<script>
  $(function() {
    $("#rows").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
      "scrollX": true,
      "ordering": false,
    });
  });
</script>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %} {# block javascript #}
