{% extends 'base.html' %}

{% block head_title %}Clone the plot {{ plot['name'] }}{% endblock %}

{% block body_title %}
Clone the plot <strong>{{ plot['name'] }}</strong>
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-8">
    <div class="card border-info">
      <div class="card-body">
        <form action="{{ url_for('.clone', dbname=db['name'], plotname=plot['name']) }}"
              method="POST">
          {{ csrf_token() }}
          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label text-right">
              Name</label>
            <div class="col-md-6">
              <input id="name" name="name" type="text" 
		     class="form-control" autofocus>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4 offset-md-2">
              <button type="submit" class="btn btn-info btn-lg btn-block">
                Clone plot</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('.display', dbname=db['name'], plotname=plot['name']) }}"
     role="button" class="btn btn-secondary btn-block">Cancel</a>
</div>
{% endblock %}
