{% extends 'base.html' %}

{% block head_title %}
Create a {{ template.type() }} plot 
for {{ schema['type'] }} {{ schema['name'] }}
{% endblock %}

{% block body_title %}
Create a <strong>{{ template.type() }}</strong> plot
for {{ schema['type'] }} <strong>{{ schema['name'] }}</strong>
{% endblock %}

{% block main %}
<div class="m-2">{{ template.description }}</div>

<div class="card border-info">
  <div class="card-body">
    <form action="{{ url_for('.create', dbname=db['name'], plottype=template.type(), tableviewname=schema['name']) }}"
          method="POST">
      {{ csrf_token() }}
      <div class="form-group row">
        <label for="_name" class="col-md-2 col-form-label text-right">
          Name</label>
        <div class="col-md-6">
          <input id="_name" name="_name" type="text" 
		 class="form-control" autofocus>
        </div>
      </div>
      {% for field in template.fields %}
      <div class="form-group row">
        <label for="{{ field['name'] }}"
	       class="col-md-2 col-form-label text-right">
	  {{ field.get('label') or field['name'] }}
	  {% if field.get('info_url') %}
	  <br>
          <a href="{{ config[field['info_url']] }}" target="_blank">info &#8599;</a>
	  {% endif %}
	</label>
        <div class="col-md-{{ field.get('grid') or 10 }}">
	  {% if field['type'] == 'text' %}
	  {% if field.get('rows') %}
          <textarea id="{{ field['name'] }}" name="{{ field['name'] }}"
		    rows="{{ field.get('rows') or 4 }}"
                    class="form-control text-monospace"
		    >{{ field.get('default') or ''}}</textarea>
          {% else %}
          <input id="{{ field['name'] }}" name="{{ field['name'] }}"
                 type="text" class="form-control">
	  {% endif %}
          {% elif field['type'] == 'integer' %}
          <input id="{{ field['name'] }}" name="{{ field['name'] }}"
                 type="number" class="form-control" 
		 value="{{ field.get('default') or ''}}">
          {% elif field['type'] == 'column' %}
          <select id="{{ field['name'] }}" name="{{ field['name'] }}"
                  class="form-control">
            {% if field.get('optional') %}
            <option value="">[none]</option>
            {% endif %}
            {% for column in schema['columns'] %}
            <option>{{ column['name'] }}</option>
            {% endfor %}
          </select>
	  {% else %}
	  <em>[undefined field type]</em>
	  {% endif %}
        </div>
      </div>
      {% endfor %}
      <div class="form-group row">
        <div class="col-md-3 offset-md-2">
          <button type="submit" class="btn btn-info btn-lg btn-block">
            Create plot</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<div>
  <form action="{{ url_for('.select', dbname=db['name']) }}"
        method="GET">
    <input type="hidden" name="type" value="{{ template.type() }}">
    <input type="hidden" name="tableviewname"
	   value="{{ schema['name'] }}">
    <button type="submit" class="btn btn-dark btn-block">Cancel</button>
  </form>
</div>
<div class="pt-4">
  {% if schema['type'] == constants.TABLE %}
  <a href="{{ url_for('table.rows', dbname=db['name'], tablename=schema['name']) }}"
     role="button" target="_blank" class="btn btn-outline-primary btn-block">
    Table<br>{{ schema['nrows'] }} rows &#8599;</a>
  {% else %}
  <a href="{{ url_for('view.rows', dbname=db['name'], viewname=schema['name']) }}"
     role="button" target="_blank" class="btn btn-outline-primary btn-block">
    View<br>{{ schema['nrows'] }} rows &#8599;</a>
  {% endif %}
</div>
{% endblock %}
