{% extends 'base.html' %}

{% block head_title %}
Create a {{ plottype['name'] }} plot 
for {{ schema['type'] }} {{ schema['name'] }}
{% endblock %}

{% block body_title %}
Create a <strong>{{ plottype['name'] }}</strong> plot
for {{ schema['type'] }} <strong>{{ schema['name'] }}</strong>
{% endblock %}

{% block main %}
<div class="ml-2 mt-2 mb-3">
  {{ plottype['description'] }}
</div>

<div class="row">
  <div class="col-md-8">
    <div class="card border-info">
      <div class="card-body">
        <form action="{{ url_for('.create', dbname=db['name'], plottype=plottype['name'], tableviewname=schema['name']) }}"
              method="POST">
          {{ csrf_token() }}
          <div class="form-group row">
            <label for="_name" class="col-md-2 col-form-label text-right">
              Name</label>
            <div class="col-md-6">
              <input id="_name" name="_name" type="text" 
		     class="form-control" autofocus>
            </div>
          </div>
	  {% for field in plottype['fields'] %}
          <div class="form-group row">
            <label for="{{ field['name'] }}"
		   class="col-md-2 col-form-label text-right">
	      {{ field.get('label') or field['name'] }}
	      {% if field.get('info_url') %}
	      <br>
              (<a href="{{ config[field['info_url']] }}" target="_blank">info</a>)
	      {% endif %}
	    </label>
            <div class="col-md">
	      {% if field['type'] == 'textarea' %}
              <textarea id="{{ field['name'] }}" name="{{ field['name'] }}"
			rows="{{ field.get('rows') or 4 }}"
                        class="form-control"></textarea>
	      {% else %}
	      <em>[undefined field type]</em>
	      {% endif %}
            </div>
          </div>
	  {% endfor %}
          <div class="form-group row">
            <div class="col-md-4 offset-md-2">
              <button type="submit" class="btn btn-info btn-lg btn-block">
                Create plot</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card border-secondary mb-1">
      {% if schema['type'] == 'table' %}
      <div class="card-header">
        <button type="button" class="btn btn-outline-secondary">
          Table <strong>{{ schema['name'] }}</strong>
        </button>
      </div>
      <div id="{{ schema['name'] }}">
        <div class="card-body">
          <table class="table table-sm table-borderless">
            {% for column in schema['columns'] %}
            <tr>
              <th class="text-right">{{ column['name'] }}</th>
              <td>
                {{ column['type'] }}
                {{ column.get('primarykey') and 'PRIMARY KEY' or '' }}
                {{ column.get('notnull') and 'NOT NULL' or '' }}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      {% else %}
      <div class="card-header">
        <button type="button" class="btn btn-outline-secondary">
          View <strong>{{ schema['name'] }}</strong>
        </button>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block actions %}
<div>
  <form action="{{ url_for('.select', dbname=db['name']) }}"
        method="GET">
    <input type="hidden" name="type" value="{{ plottype['name'] }}">
    <input type="hidden" name="tableviewname"
	   value="{{ schema['name'] }}">
    <button type="submit" class="btn btn-secondary btn-block">Cancel</button>
  </form>
</div>
{% endblock %}
