{% extends 'base.html' %}

{% block head_title %}Plot {{ plot['name'] }}{% endblock %}

{% block body_title %}Plot {{ plot['name'] }}{% endblock %}

{% block main %}
<div id="plot"></div>
{% endblock %}

{% block actions %}
<div>
  {% if schema['type'] == 'table' %}
  <a href="{{ url_for('table.rows', dbname=db['name'], tablename=schema['name']) }}"
     role="button" class="btn btn-outline-primary btn-block">
    Table<br>{{ db['tables'][schema['name']]['nrows'] }} rows</a>
  {% else %}
  <a href="{{ url_for('view.rows', dbname=db['name'], tablename=schema['name']) }}"
     role="button" class="btn btn-outline-primary btn-block">
    View<br>{{ db['views'][schema['name']]['nrows'] }} rows</a>
{% endif %}
</div>
{% if has_write_access %}
<div class="pt-4">
  <a href="{{ url_for('.edit', dbname=db['name'], plotname=plot['name']) }}"
     role="button" class="btn btn-info btn-block">
    Edit plot</a>
</div>
<div class="pt-4">
  <form action="{{ url_for('.edit', dbname=db['name'], plotname=plot['name']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-danger btn-block"
            onclick="return confirm('Really delete? Cannot be undone.')">
      Delete plot</button>
  </form>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@3"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@4"></script>
<script type="text/javascript">
  var plotSpec = {{ plot['spec']|tojson(indent=2) }};
  vegaEmbed('#plot', plotSpec);
</script>
{% endblock %}
