{% extends 'base.html' %}

{% block head_title %}Edit plot {{ plot['name'] }}{% endblock %}

{% block body_title %}
Edit plot <strong>{{ plot['name'] }}</strong>
{% endblock %}

{% block main %}
<div class="card border-info">
  <div class="card-body">
    <form action="{{ url_for('.edit', dbname=db['name'], plotname=plot['name']) }}"
          method="POST">
      {{ csrf_token() }}
      <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label text-right">
          Name</label>
        <div class="col-md-6">
          <input id="name" name="name" type="text" 
		 class="form-control" value="{{ plot['name'] }}" autofocus>
        </div>
      </div>
      <div class="form-group row">
        <label for="spec" class="col-md-2 col-form-label text-right">
	  Vega-Lite spec
	  <br>
          <a href="{{ config['VEGALITE_URL'] }}" target="_blank">info &#8599;</a>
	</label>
        <div class="col-md">
          <textarea id="spec" name="spec" rows="24"
		    class="form-control text-monospace"
		    >{{ spec|safe }}</textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 offset-md-2">
          <button type="submit" class="btn btn-info btn-lg btn-block">
            Save plot</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<div class="mt-3">
  <a href="{{ url_for('.display', dbname=db['name'], plotname=plot['name']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
