{% extends 'base.html' %}

{% block head_title %}Plots in database {{ db['name'] }}{% endblock %}

{% block body_title %}
Plots in database <strong>{{ db['name'] }}</strong>
{% endblock %}

{% block main %}
<table id="plots" class="table table-sm">
  <thead>
    <tr>
      <th>Table or view</th>
      <th>Plot</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for tableviewname, plots in db['plots'] %}
    {% for plot in plots %}
    <tr>
      <td>
	{% if plot['tableviewname'] in db['tables'] %}
	<a href="{{url_for('table.rows', dbname=db['name'], tablename=plot['tableviewname']) }}">
	  {{ tableviewname }}</a>
	{% else %}
	<a href="{{url_for('view.rows', dbname=db['name'], viewname=plot['tableviewname']) }}">
	  {{ tableviewname }}</a>
	{% endif %}
      </td>
      <td>
	<a href="{{ url_for('.display', dbname=db['name'], plotname=plot['name']) }}">
	  {{ plot['name'] }}</a>
      </td>
      <td>
	{{ plot['spec'].get('description') or '' }}
      </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#plots").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
    });
  });
</script>
{% endblock %}
