{% extends 'base.html' %}

{% block main %}
<p class="lead ml-3">
  Publish, query and visualize tabular data sets using 
  <a href="{{ config['SQLITE3_URL'] }}" target="_blank">Sqlite3</a> and
  <a href="{{ config['VEGA_LITE_SITE_URL'] }}" target="_blank">Vega-Lite</a>.
</p>

<h4 class="ml-3 my-4">Public databases</h2>
<table id="dbs" class="table table-sm">
  <thead>
    <tr>
      <th>Database</th>
      <th>Title</th>
      <th>Mode</th>
      <th>Owner</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for db in dbs %}
    <tr>
      <th>
        <a href="{{ url_for('db.home', dbname=db['name']) }}" role="button"
	   class="btn btn-sm btn-outline-primary px-3 py-0 font-weight-bold">
          {{ db['name'] }}</a>
      </th>
      <td>{{ db.get('title') or '-' }}</td>
      <td>
	{% if db['readonly'] %}
	read-only
	{% else %}
	<span class="badge badge-warning">read-write</span>
	{% endif %}
      </td>
      <td>{{ db['owner'] }}</td>
      <td><small class="localtime">{{ db['modified'] }}</small></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#dbs").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
    });
  });
</script>
{% endblock %}
