{% extends 'base.html' %}

{% block head_title %}Template {{ template['name'] }}{% endblock %}

{% block body_title %}Template {{ template['name'] }}{% endblock %}

{% block main %}
<table class="table table-sm table-borderless">
  <tr>
    <th class="text-right">Name</th>
    <td>{{ template['name'] }}</td>
  </tr>
  <tr>
    <th class="text-right">Title</th>
    <td>{{ template.get('title') or '-' }}</td>
  </tr>
  <tr>
    <th class="text-right">Type</th>
    <td>{{ template['type'] }}</td>
  </tr>
  <tr>
    <th class="text-right">Description</th>
    <td>{{ template.get('description')|markdown }}</td>
  </tr>
  <tr>
    <th class="text-right">Fields</th>
    <td class="px-4">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type(s)</th>
            <th>Title</th>
            <th>Optional</th>
            <th>Description</th>
            {% if has_write_access %}
            <th></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for field in fields %}
          <tr style="border-top-style: solid; border-width: 1px; border-color: lightgrey;">
            <th>{{ field['name'] }}</th>
            <td>{{ ', '.join(field['types']) }}</td>
            <td>{{ field['title'] or '-' }}</td>
            <td>{{ field['optional'] and 'optional' or 'required' }}</td>
            <td>{{ field['description'] or '-' }}</td>
            {% if has_write_access %}
            <td class="text-right px-0">
	      <a href="{{ url_for('.field_edit', templatename=template['name'], fieldname=field['name']) }}"
	         class="btn btn-sm btn-primary py-0 my-0" role="button">Edit</a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <th class="text-right">Code</th>
    <td><pre>{{ template['code'] }}</pre></td>
  </tr>
</table>
{% endblock %} {# block main #}

{% block meta %}
<div class="py-1">
  <div>
    <a href="{{ url_for('api_template.template', templatename=template['name'])  }}"
       class="badge badge-pill badge-dark">API</a>
  </div>
</div>
{% endblock %} {# block meta #}

{% block actions %}
<div class="mt-2">
  <a href="{{ url_for('.download', templatename=template['name']) }}"
     role="button" data-toggle="tooltip" data-placement="left"
     title="Download the template definition JSON file."
     class="btn btn-outline-primary btn-block">Download</a>
</div>
{% if has_write_access %}
<div class="mt-2">
  <a href="{{ url_for('.edit', templatename=template['name']) }}"
     role="button" class="btn btn-primary btn-block">Edit</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('.field', templatename=template['name']) }}"
     role="button" class="btn btn-primary btn-block">Add field</a>
</div>
{% endif %} {# has_write_access #}
{% if g.current_user %}
<div class="mt-2">
  <a href="{{ url_for('.clone', templatename=template['name']) }}"
     role="button" class="btn btn-primary btn-block">Clone</a>
</div>
{% endif %} {# if g.current_user #}
{% if has_write_access %}
{% if template['public'] %}
<div class="mt-2">
  <form action="{{ url_for('.private', templatename=template['name']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-warning btn-block"
            onclick="return confirm('Only you will be able to use this template.')">
      Set private access</button>
  </form>
</div>
{% else %} {# public #}
<div class="mt-2">
  <form action="{{ url_for('.public', templatename=template['name']) }}"
	method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-warning btn-block"
            onclick="return confirm('Everyone will be able to use this template.')">
      Set public access</button>
  </form>
</div>
{% endif %} {# if template['public'] #}
<div class="mt-2">
  <form action="{{ url_for('.edit', templatename=template['name']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-danger btn-block"
	    data-toggle="tooltip" data-placement="left"
	    title="Delete this template."
            onclick="return confirm('Really delete the template? Cannot be undone.')">
      Delete</button>
  </form>
</div>
{% endif %} {# has_write_access #}
{% endblock %} {# block actions #}

{% block info %}
<div class="small mt-4">
  <div>
    Access
    {% if template['public'] %}
    <span class="badge badge-success">public</span>
    {% else %}
    private
    {% endif %}
  </div>
  <div class="pt-1">
    Owner
    {% if g.current_user %}
    <a href="{{ url_for('user.profile', username=template['owner'])}}">
      {{ template['owner'] }}</a>
    {% else %}
    {{ template['owner'] }}
    {% endif %}
  </div>
  <div class="pt-1">
    Modified <span class="localtime">{{ template['modified'] }}</span>
  </div>
  <div class="pt-1">
    Created <span class="localtime">{{ template['created'] }}</span>
  </div>
</div>
{% endblock %} {# block info #}

{% block javascript %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %} {# block javascript #}
