{% extends 'base.html' %}

{% block head_title %}
Select a template for {{ schema['type'] }} {{ schema['name'] }}
{% endblock %}

{% block body_title %}
Select a template for {{ schema['type'] }} {{ schema['name'] }}
{% endblock %}

{% block main %}
<div class="card border-info">
  <div class="card-body">
    <form action="{{ url_for('.select', dbname=db['name'], sourcename=schema['name']) }}"
          method="POST">
      {{ csrf_token() }}
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Template</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          {% for template in templates %}
          <tr>
            <th>
              <div class="form-check ml-2">
                <input type="radio"
                       id="{{ template['name'] }}" name="template"
                       class="form-check-input" value="{{ template['name'] }}">
                <label class="form-check-label" for="{{ template['name'] }}">
                  {{ template['name'] }}</label>
              </div>
            </th>
            <td>{{ template['title'] or '-' }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="form-group row">
        <div class="col-md-3">
          <button type="submit"
                  class="btn btn-info btn-lg btn-block">Select</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<div class="mt-2">
    <a href="{{ url_for('vega.create', dbname=db['name'], sourcename=schema['name']) }}"
       role="button" class="btn btn-info btn-block">
      Create Vega visualization</a>
</div>
<div class="mt-2">
    <a href="{{ url_for('vega-lite.create', dbname=db['name'], sourcename=schema['name']) }}"
       role="button" class="btn btn-info btn-block">
      Create Vega-Lite visualization</a>
</div>
<div class="mt-2">
  <a href="{{ utils.url_for_rows(db, schema) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
