{% extends 'base.html' %}

{% block head_title %}Create a table in database {{ db['name'] }}{% endblock %}

{% block body_title %}Create a table in database {{ db['name'] }}{% endblock %}

{% block main %}
<div class="card border-primary">
  <div class="card-body">
    <form action="{{ url_for('.create', dbname=db['name']) }}"
          method="POST">
      {{ csrf_token() }}
      <div class="form-group row">
        <div class="col-md-2 text-right">
          <label for="name" class="col-form-label">Table name</label>
	</div>
	<div class="col-md-6">
          <input id="name" name="name" type="text"  autofocus
		 aria-describedby="nameHelp" class="form-control">
          <small id="nameHelp" class="form-text text-muted">
            The table name must be a valid identifier, i.e. begin
            with a letter and optionally continue with letters, digits,
            underscores or dashes.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2 text-right">
          <label for="title" class="col-form-label">Title</label>
	</div>
	<div class="col-md-10">
          <input id="title" name="title" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-md-2 col-form-label text-right">
          Description</label>
        <div class="col-md-10">
	  <textarea id="description" name="description"
		    class="form-control" rows="2"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="columns" class="col-md-2 col-form-label text-right">
          Columns</label>
        <div class="col-md-10">
	  <table class="table table-sm table-borderless">
	    <thead>
	      <tr>
		<td>Name</td>
		<td>Type</td>
		<td>PRIMARY KEY</td>
		<td>NOT NULL</td>
	      </tr>
	    </thead>
	    <tbody>
	      {% for n in range(config['TABLE_INITIAL_COLUMNS']) %}
	      <tr class="form-group">
		<td>
		  <input id="column{{ n }}name" name="column{{ n }}name"
			 type="text" size="32"
			 class="form-control">
		</td>
		<td>
		  <select id="column{{ n }}type" name="column{{ n }}type"
			  class="form-control">
		    {% for type in constants.COLUMN_TYPES %}
		    <option>{{ type }}</option>
		    {% endfor %}
		  </select>
		</td>
		<td>
		  <div class="form-check form-check-inline mx-4 py-2">
		    <input name="column_primarykey"
			   type="radio" value="{{ n }}"
			   class="form-check-input">
		  </div>
		</td>
		<td>
		  <div class="form-check form-check-inline mx-4 py-2">
		    <input id="column{{ n }}notnull" name="column{{ n }}notnull"
			   type="checkbox" value="true"
			   class="form-check-input">
		  </div>
		</td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 offset-md-2">
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('db.display', dbname=db['name']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
