{% extends 'base.html' %}

{% block head_title %}Edit metadata for table {{ schema['name'] }}{% endblock %}

{% block body_title %}Edit metadata for table {{ schema['name'] }}{% endblock %}

{% block main %}
<div class="card border-primary">
  <div class="card-body">
    <form action="{{ url_for('.edit', dbname=db['name'], tablename=schema['name']) }}"
          method="POST">
      {{ csrf_token() }}
      <div class="form-group row">
        <label for="title" class="col-md-2 col-form-label text-right">
          Title</label>
        <div class="col-md-10">
          <input id="title" name="title"
		 type="text" class="form-control"
		 value="{{ schema.get('title') or '' }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-md-2 col-form-label text-right">
          Description</label>
        <div class="col-md-10">
	  <textarea id="description" name="description"
		    class="form-control" rows="2"
                    aria-describedby="descriptionHelp"
		    >{{ schema.get('description') or '' }}</textarea>
          <small id="descriptionHelp" class="form-text text-muted">
            <a href="{{ config['MARKDOWN_SYNTAX_URL'] }}"
               target="_blank">Markdown syntax</a> may be used for formatting.
          </small>
        </div>
      </div>
      <!-- <div class="form-group row"> -->
      <!--   <label for="annotations" class="col-md-2 col-form-label text-right"> -->
      <!--     Column annotations</label> -->
      <!--   <div class="col-md-10"> -->
      <!--     <table class="table table-borderless table-sm"> -->
      <!--       {% for column in schema['columns'] %} -->
      <!--       <tr> -->
      <!--         <th>{{ column['name'] }}</th> -->
      <!--         <td>{{ column['type'] }}</td> -->
      <!--         <td> -->
      <!--   	{{ column['primarykey'] and 'PRIMARY KEY' or '' }} -->
      <!--   	{{ column['notnull'] and 'NOT NULL' or '' }} -->
      <!--         </td> -->
      <!--         <td> -->
      <!--   	{% for annotation in config['COLUMN_ANNOTATIONS'] %} -->
      <!--   	<div class="form-check form-check-inline"> -->
      <!--   	  <input type="radio" class="form-check-input" -->
      <!--   		 name="column:{{ column['name'] }}" -->
      <!--   		 id="column:{{ column['name'] }}:{{annotation}}" -->
      <!--   		 value="{{ annotation }}" -->
      <!--   		 {{ annotation in schema.get('annotations', {})[column['name']] and 'checked' or '' }}> -->
      <!--   	  <label class="form-check-label" -->
      <!--   		 for="column:{{ column['name'] }}:{{annotation}}"> -->
      <!--   	    {{ annotation }}</label> -->
      <!--   	</div> -->
      <!--   	{% endfor %} -->
      <!--   	<div class="form-check form-check-inline"> -->
      <!--   	  <input type="radio" class="form-check-input" -->
      <!--   		 name="column:{{ column['name'] }}" -->
      <!--   		 id="column:{{ column['name'] }}:none" -->
      <!--   		 value=""> -->
      <!--   	  <label class="form-check-label" -->
      <!--   		 for="column:{{ column['name'] }}:none"> -->
      <!--   	    <em>none</em></label> -->
      <!--   	</div> -->
      <!--         </td> -->
      <!--       </tr> -->
      <!--       {% endfor %} -->
      <!--     </table> -->
      <!--   </div> -->
      <!-- </div> -->
      <div class="form-group row">
        <div class="col-md-4 offset-md-2">
          <button type="submit" 
                  class="btn btn-primary btn-lg btn-block">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('.rows', dbname=db['name'], tablename=schema['name']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
