{% extends 'base.html' %}

{% block head_title %}Create an index of table {{ schema['id'] }}{% endblock %}

{% block body_title %}Create an index of table <strong>{{ schema['id'] }}</strong>{% endblock %}

{% block main %}
<div class="card border-info">
  <div class="card-body">
    <form action="{{ url_for('.create', dbid=db['id'], tableid=schema['id']) }}"
          method="POST">
      {{ csrf_token() }}
      <div class="form-group row">
        <div class="col-md-2 text-right">Unique</div>
        <div class="col-md-4">
          <div class="form-check">
            <input id="unique" name="unique"
                   class="form-check-input" type="checkbox" value="true">
            <label class="form-check-label" for="unique">Yes</label>
          </div>
        </div>
      </div>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-md-2 text-right">Columns</legend>
          <div class="col-md-10">
            <table class="table">
              <thead>
                <tr>
                  <th>Position</th>
                  {% for column in schema['columns'] %}
                  <td>{{ column['id'] }}</td>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for pos in positions %}
                <tr>
                  <th>{{ pos + 1 }}</th>
                  {% for column in schema['columns'] %}
                  <td>
                    <input name="position{{ pos }}" type="radio"
                           value="{{ column['id'] }}">
                  </td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </fieldset>
      <div class="form-group row">
        <div class="col-md-4 offset-md-2">
          <button type="submit"
                  class="btn btn-info btn-lg btn-block">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('table.schema', dbid=db['id'], tableid=schema['id']) }}"
     role="button" class="btn btn-secondary btn-block">Cancel</a>
</div>
{% endblock %}
