{% extends 'base.html' %}

{% block head_title %}
Query results from database {{ db['id'] }}
{% endblock %}

{% block body_title %}
Query results from database <strong>{{ db['id'] }}</strong>
{% endblock %}

{% block main %}
<p>
  <code>{{ sql }}</code> &rarr; {{ nrows }} rows
</p>
<table id="rows" class="table table-sm table-hover">
  <thead>
    <tr>
      {% if columns %}
      {% for column in columns %}
      <th>{{ column }}</th>
      {% endfor %}
      {% else %}
      <th>Column</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      {% for value in row %}
      <td>{{ value | or_null_safe }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block links %}
<div>
  <form action="{{ url_for('.home', dbid=db['id']) }}"
        method="GET">
    <input type="hidden" name="select" value="{{ statement.get('select') or ''}}">
    <input type="hidden" name="from" value="{{ statement.get('from') or ''}}">
    <input type="hidden" name="where" value="{{ statement.get('where') or ''}}">
    <input type="hidden" name="orderby" value="{{ statement.get('orderby') or ''}}">
    <input type="hidden" name="limit" value="{{ statement.get('limit') or ''}}">
    <button type="submit" class="btn btn-success btn-block">Edit query</button>
  </form>
</div>
<div class="mt-2">
  <a href="{{ url_for('.home', dbid=db['id']) }}"
     role="button" class="btn btn-success btn-block">New query</a>
</div>
<div class="mt-2">
  <a href="{{ url_for('db.home', dbid=db['id']) }}"
     role="button" class="btn btn-outline-primary btn-block">
    Database<br>{{ db['id'] }}</a>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#rows").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
      "ordering": false,
    });
  });
</script>
{% endblock %}
