{% extends 'base.html' %}

{% block head_title %}
Query results from database {{ db['id'] }}
{% endblock %}

{% block body_title %}
Query results from database <strong>database {{ db['id'] }}</strong>
{% endblock %}

{% block main %}
<table id="rows" class="table table-sm table-hover">
  <tbody>
    {% for row in rows %}
    <tr>
      {% for value in row %}
      <td>{{ value | or_null_safe }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block links %}
<div class="mt-2">
  <a href="{{ url_for('db.index', dbid=db['id']) }}"
     role="button" class="btn btn-outline-primary btn-block">
    Database<br>{{ db['id'] }}</a>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#rows").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
    });
  });
</script>
{% endblock %}
