{% extends 'base.html' %}

{% block head_title %}
Query result from database {{ db['id'] }}
{% endblock %}

{% block body_title %}
Query result from database <strong>{{ db['id'] }}</strong>
{% endblock %}

{% block main %}
<div class="m-3">
  <code>{{ sql }}</code> &rarr; {{ nrows }} rows
</div>
<table id="rows" class="table table-sm table-hover">
  <thead>
    <tr>
      {% for column in columns %}
      <th>{{ column }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      {% for value in row %}
      <td>{{ value | or_null_safe }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('db.home', dbid=db['id']) }}"
     role="button" class="btn btn-outline-primary btn-block">
    Database<br>{{ db['id'] }}</a>
</div>
<div class="mt-2">
  <form action="{{ url_for('.home', dbid=db['id']) }}"
        method="GET">
    <input type="hidden" name="select" value="{{ select.get('select') or ''}}">
    <input type="hidden" name="from" value="{{ select.get('from') or ''}}">
    <input type="hidden" name="where" value="{{ select.get('where') or ''}}">
    <input type="hidden" name="orderby" value="{{ select.get('orderby') or ''}}">
    <input type="hidden" name="limit" value="{{ select.get('limit') or ''}}">
    <button type="submit" class="btn btn-success btn-block">Edit query</button>
  </form>
</div>
<div class="mt-2">
  <a href="{{ url_for('.home', dbid=db['id']) }}"
     role="button" class="btn btn-success btn-block">New query</a>
</div>
<div class="mt-2">
  <form action="{{ url_for('view.create', dbid=db['id']) }}"
        method="GET">
    <input type="hidden" name="select" value="{{ select.get('select') or ''}}">
    <input type="hidden" name="from" value="{{ select.get('from') or ''}}">
    <input type="hidden" name="where" value="{{ select.get('where') or ''}}">
    <input type="hidden" name="orderby" value="{{ select.get('orderby') or ''}}">
    <input type="hidden" name="limit" value="{{ select.get('limit') or ''}}">
    <button type="submit" class="btn btn-primary btn-block">Create view</button>
  </form>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#rows").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
      "ordering": false,
    });
  });
</script>
{% endblock %}
