{% extends 'base.html' %}

{% block head_title %}{{ title }}{% endblock %}

{% block body_title %}{{ title }}{% endblock %}

{% block meta %}
<div>
  <a href="{{ json_url }}" class="badge badge-pill badge-primary">JSON</a>
</div>
{% endblock %} {# block meta #}

{% block main %}
<div id="chart" class="m-4"></div>
{% if has_write_access %}
<div class="card border-primary">
  <div class="card-header">
    Change chart parameters
  </div>
  <div class="card-body">
    <form action="{{ url_for('.create', dbname=db['name'], sourcename=schema['name'], stencilname=stencilname) }}"
          method="GET">
      <!-- XXX all context paramaters must be passed -->
      <div class="form-group row">
        <label for="title" class="col-md-2 col-form-label text-right">
          Title</label>
        <div class="col-md-10">
          <input id="title" name="title" type="text"
                 class="form-control" aria-describedby="titleHelp"
                 value="{{ context.get('title') or '' }}">
          <small id="titleHelp" class="form-text text-muted">
            The displayed title of the chart.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 offset-md-2">
          <button type="submit" class="btn btn-primary btn-lg btn-block">
	    Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endif %} {# has_write_access #}
{% endblock %}

{% block actions %}
{% if has_write_access %}
<div class="mt-2">
  <form action="{{ url_for('chart.save', dbname=db['name']) }}"
	method="GET">
    <input type="hidden" name="sourcename" value="{{ schema['name'] }}">
    <input type="hidden" name="stencilname" value="{{ stencilname }}">
    {% for key, value in context.items() %}
    {% if key != 'url' %}
    <input type="hidden" name="{{ key }}" value="{{ context[key] }}">
    {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-success btn-block"
	    title="Save this chart in the database.">
      Save</button>
  </form>
</div>
{% endif %} {# if has_write_access #}
<div class="mt-2">
  <a href="{{ url_for('.select', dbname=db['name'], sourcename=schema['name']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ config['VEGA_JS_URL'] }}"></script>
<script src="{{ config['VEGA_LITE_JS_URL'] }}"></script>
<script src="{{ config['VEGA_EMBED_JS_URL'] }}"></script>
<script type="text/javascript">
  vegaEmbed('#chart', {{ spec | tojson(indent=2) }});
</script>
{% endblock %}
