{% extends 'base.html' %}

{% block head_title %}{{ title }}{% endblock %}

{% block body_title %}{{ title }}{% endblock %}

{% block meta %}
<div>
  <a href="{{ json_url }}" class="badge badge-pill badge-primary">JSON</a>
</div>
{% endblock %} {# block meta #}

{% block main %}
<div id="chart" class="m-4"></div>
{% if has_write_access %}
<div class="card border-success">
  <div class="card-header text-white bg-success">
    Save chart
  </div>
  <div class="card-body">
    <form action=" {{ url_for('chart.save', dbname=db['name'], sourcename=schema['name'], stencilname=stencilname) }}"
          method="POST">
      {{ csrf_token() }}
      <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label text-right">
          Name</label>
        <div class="col-md-6">
          <input id="name" name="name" type="text" autofocus
                 aria-describedby="nameHelp" class="form-control">
          <small id="nameHelp" class="form-text text-muted">
            The chart name must be unique within the database.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 offset-md-2">
          <button type="submit" class="btn btn-success btn-lg btn-block">
	    Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endif %} {# if has_write_access #}
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('.select', dbname=db['name'], sourcename=schema['name']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ config['VEGA_JS_URL'] }}"></script>
<script src="{{ config['VEGA_LITE_JS_URL'] }}"></script>
<script src="{{ config['VEGA_EMBED_JS_URL'] }}"></script>
<script type="text/javascript">
  vegaEmbed('#chart', {{ spec | tojson(indent=2) }});
</script>
{% endblock %}
