{% extends 'base.html' %}

{% block style %}
.combinations th,  .combinations td {padding: 0.5rem;}
.combinations td a {margin: 0 1rem;}
{% endblock %}

{% block head_title %}
Select chart stencil {{ schema['type'] }} {{ schema['name'] }}
{% endblock %}

{% block body_title %}
Select chart stencil {{ schema['type'] }} {{ schema['name'] }}
{% endblock %}

{% block main %}
{% for stencil in stencils %}
<div class="card border-info my-2">
  <div class="card-header">
    <a class="btn btn-info" title="Click to expand." data-toggle="collapse"
       href="#{{ stencil['name'] }}" role="button" 
       aria-expanded="false" aria-controls="{{ stencil['name'] }}">
      {{ stencil['title'] }}</a>
  </div>
  <div class="card-body collapse" id="{{ stencil['name'] }}">
    <table class="combinations">
      <tr>
        <th></th>
        {% for variable in stencil['variables'] %}
        <th>{{ variable['name'] }}<br>{{ variable['title'] }}</th>
        {% endfor %}
        <th></th>
      </tr>
      {% for combination in stencil['combinations'] %}
      <tr>
        <td>
	  <a class="btn btn-sm btn-info"
	     role="button"
	     href="{{ utils.url_for('.render', dbname=db['name'], sourcename=schema['name'], stencilname=stencil['name'], _query=combination) }}">Render</a>
        </td>
        {% for variable in stencil['variables'] %}
        <td>{{ combination[variable['name']] }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block actions %}
<div>
  {% if schema['type'] == constants.TABLE %}
  {% set url = url_for('table.rows', dbname=db['name'], tablename=schema['name']) %}
  {% else %}
  {% set url = url_for('view.rows', dbname=db['name'], viewname=schema['name']) %}
  {% endif %}
  <a href="{{ url }}" role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
