{% extends 'base.html' %}

{% block head_title %}All viztemplates{% endblock %}

{% block body_title %}All viztemplates{% endblock %}

{% block main %}
<table id="templates" class="table table-sm">
  <thead>
    <tr>
      <th>Template</th>
      <th>Title</th>
      <th>Type</th>
      <th>Access</th>
      <th>Owner</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for template in templates %}
    <tr>
      <td>
        <a href="{{ url_for('template.view', templatename=template['name']) }}" 
	   role="button" 
	   class="btn btn-sm btn-outline-info px-3 py-0 font-weight-bold">
          {{ template['name'] }}</a>
      </td>
      <td>{{ template.get('title') or '-' }}</td>
      <td>{{ template['type'] }}</td>
      <td>{{ template['public'] | access }}</td>
      <td>
	<a href="{{ url_for('user.profile', username=template['owner']) }}">
	  {{ template['owner'] }}</a>
      </td>
      <td><small class="localtime">{{ template['modified'] }}</small></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block actions %}
<div class="mt-2">
  <a href="{{ url_for('.public') }}"
     role="button" class="btn btn-info btn-block">
    Public viztemplates</a>
</div>
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#templates").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
    });
  });
</script>
{% endblock %}
