{% extends 'base.html' %}

{% block head_title %}
Edit field {{ field['name'] }} in visualization template {{ template['name'] }}
{% endblock %}

{% block body_title %}
Edit field {{ field['name'] }} in visualization template {{ template['name'] }}
{% endblock %}

{% block main %}
<div class="card border-info">
  <div class="card-body">
    <form action="{{ url_for('.field_edit', templatename=template['name'], fieldname=field['name']) }}"
          method="POST">
      {{ csrf_token() }}
      <div class="form-group row">
        <label for="typeINTEGER"
               class="col-md-2 col-form-label pt-0 text-right">
          Type(s)</label>
        <div class="form-group col-md-4">
          {% for type in constants.COLUMN_TYPES %}
          <div class="form-check">
            <input id="type{{ type }}" name="type" type="checkbox" 
                   class="form-check-input" value="{{ type }}"
                   {{ type in field['types'] and 'checked' or '' }}>
            <label class="form-check-label" for="type{{ type }}">
              {{ type }}</label>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="form-group row">
        <label for="optional"
               class="col-md-2 col-form-label pt-0 text-right">
          Optional</label>
        <div class="form-group col-md-4">
          <div class="form-check">
            <input id="optional" name="optional" type="checkbox" 
                   class="form-check-input" value="true"
                   {{ field['optional'] and 'checked' or ''}}>
            <label class="form-check-label" for="optional">
              A value is not required.</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2 text-right">
          <label for="title" class="col-form-label">Title</label>
	</div>
	<div class="col-md-10">
          <input id="title" name="title" type="text" class="form-control"
                 value="{{ field['title'] or '' }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-md-2 col-form-label text-right">
          Description</label>
        <div class="col-md-10">
	  <textarea id="description" name="description"
		    class="form-control" rows="2"
                    >{{ field['description'] or '' }}</textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2 text-right">
          <label for="positions" class="col-form-label">Position</label>
	</div>
	<div class="col-md-2">
          <select id="ordinal" name="ordinal" class="custom-select">
            {% for ordinal in range(len(template['fields'])) %}
            <option value="{{ ordinal }}"
                    {{ ordinal == field['ordinal'] and 'selected' or ''}}>
              {{ ordinal + 1 }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<div class="mt-3">
  <a href="{{ url_for('.view', templatename=template['name']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
<div class="mt-3">
  <form action="{{ url_for('.field_edit', templatename=template['name'], fieldname=field['name']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-danger btn-block"
            onclick="return confirm('Really delete? Cannot be undone.')">
      Delete</button>
  </form>
</div>
{% endblock %}
