{% extends 'base.html' %}

{% block head_title %}
Add field to visualization template {{ template['name'] }}
{% endblock %}

{% block body_title %}
Add field to visualization template {{ template['name'] }}
{% endblock %}

{% block main %}
<div class="card border-info">
  <div class="card-body">
    <form action="{{ url_for('.field', templatename=template['name']) }}"
          method="POST">
      {{ csrf_token() }}
      <div class="form-group row">
        <div class="col-md-2 text-right">
          <label for="name" class="col-form-label">Field name</label>
	</div>
	<div class="col-md-6">
          <input id="name" name="name" type="text" 
		 class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group row">
        <label for="typeINTEGER"
               class="col-md-2 col-form-label pt-0 text-right">
          Type(s)</label>
        <div class="form-group col-md-4">
          {% for type in constants.COLUMN_TYPES %}
          <div class="form-check">
            <input id="type{{ type }}" name="type" type="checkbox" 
                   class="form-check-input" value="{{ type }}" checked>
            <label class="form-check-label" for="type{{ type }}">
              {{ type }}</label>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="form-group row">
        <label for="optional"
               class="col-md-2 col-form-label pt-0 text-right">
          Optional</label>
        <div class="form-group col-md-4">
          <div class="form-check">
            <input id="optional" name="optional" type="checkbox" 
                   class="form-check-input" value="true">
            <label class="form-check-label" for="optional">
              A value is not required.</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2 text-right">
          <label for="title" class="col-form-label">Title</label>
	</div>
	<div class="col-md-10">
          <input id="title" name="title" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-md-2 col-form-label text-right">
          Description</label>
        <div class="col-md-10">
	  <textarea id="description" name="description"
		    class="form-control" rows="2"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3">
          <button type="submit" class="btn btn-info btn-lg btn-block">
            Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('.view', templatename=template['name']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
