{% extends 'base.html' %}

{% block head_title %}Clone the visualization {{ visual['name'] }}{% endblock %}

{% block body_title %}
Clone the visualization <strong>{{ visual['name'] }}</strong>
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-8">
    <div class="card border-info">
      <div class="card-body">
        <form action="{{ url_for('.clone', dbname=db['name'], visualname=visual['name']) }}"
              method="POST">
          {{ csrf_token() }}
          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label text-right">
              Name</label>
            <div class="col-md-6">
              <input id="name" name="name" type="text" 
		     class="form-control" autofocus>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4 offset-md-2">
              <button type="submit" class="btn btn-info btn-lg btn-block">
                Clone visualization</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block actions %}
<div class="mt-3">
  <a href="{{ url_for('.display', dbname=db['name'], visualname=visual['name']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
