{% extends 'base.html' %}

{% block head_title %}Create table in {{ resource['rid'] }}{% endblock %}

{% block body_title %}
Create table in
<a href="{{ utils.get_resource_url(resource) }}">{{ resource['rid'] }}</a>
{% endblock %}

{% block main %}
<form action="{{ url_for('.create_table', rid=resource['rid']) }}"
      method="POST">
  {{ csrf_token() | safe }}
  <div class="form-group row">
    <label for="tablename" class="col-sm-2 col-form-label text-right">
      Table name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control"
             id="tablename" name="tablename"
             aria-describedby="tablenameHelp">
      <small id="tablenameHelp" class="form-text text-muted">
        Identifier; begins with letter, continues with letter, digit
        or underscore. Character case is not significant.
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label for="columnname" class="col-sm-2 col-form-label text-right">
      Column name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control"
             id="columnname" name="columnname"
             aria-describedby="columnnameHelp">
      <small id="columnnameHelp" class="form-text text-muted">
        First column of the table.
        <br>
        Identifier; begins with letter, continues with letter, digit
        or underscore. Character case is not significant.
      </small>
    </div>
  </div>
  <div class="form-group row">
    <label for="columntype" class="col-sm-2 col-form-label text-right">
      Column type</label>
    <div class="col-sm-3">
      <select id="columntype" name="columntype" class="form-control">
        {% for type in constants.RELDB_COLUMN_TYPES %}
        <option>{{ type }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="primarykey" class="col-sm-2 text-right">
      PRIMARY KEY</label>
    <div class="col-sm-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="primarykey" id="primarykey" value="true" checked>
        <label class="form-check-label" for="primarykey">
          Set as primary key for the table.</label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="notnull" class="col-sm-2 text-right">NOT NULL</label>
    <div class="col-sm-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
               name="notnull" id="notnull" value="true" >
        <label class="form-check-label" for="null">
          Disallow NULL value</label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2 offset-sm-2">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </div>
</form>
{% endblock %}
