{% extends 'base.html' %}

{% block head_title %}Schema table {{ resource['rid'] }}.{{ tablename }}{% endblock %}

{% block body_title %}
Schema table <a href="{{ url_for('.schema', rid=resource['rid'], tablename=tablename) }}">
  {{ tablename }}</a>
in
<a href="{{ utils.get_resource_url(resource) }}">{{ resource['rid'] }}</a>
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"><strong>Columns</strong></div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Constraints</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for column in columns %}
            <tr>
              <td>{{ column['name'] }}</td>
              <td>{{ column['type'] }}</td>
              <td>
                {{ column['notnull'] and 'NOT NULL' or '' }}
              </td>
              <td>{{ column['primarykey'] and 'PRIMARY KEY' or '' }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
