{% extends 'base.html' %}

{% block head_title %}All databases{% endblock %}

{% block body_title %}
All databases
<small class="text-muted">
  total size
  <span class="text-monospace">{{ total_size|filesizeformat }}</span>
</small>
{% endblock %}

{% block main %}
<table id="dbs" class="table table-sm">
  <thead>
    <tr>
      <th>Database</th>
      <th>Title</th>
      <th>Access</th>
      <th>Mode</th>
      <th>Owner</th>
      <th>Size (bytes)</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for db in dbs %}
    <tr>
      <td>
        <a href="{{ url_for('db.display', dbname=db['name']) }}" role="button" 
	   class="font-weight-bold">{{ db['name'] }}</a>
      </td>
      <td>{{ db.get('title') or '-' }}</td>
      <td>{{ db['public'] | access }}</td>
      <td>{{ db['readonly'] | mode }}</td>
      <td>{{ db['owner'] }}</td>
      <td class="text-right pr-4">
	{{ db['size'] | size_none }}
      </td>
      <td><small class="localtime">{{ db['modified'] }}</small></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {# block main #}

{% block api %}
<div>
  <a href="{{ url_for('api_dbs.all') }}"
     class="badge badge-pill badge-dark">API</a>
</div>
{% endblock %} {# block api #}

{% block javascript %}
<script>
  $(function() {
    $("#dbs").DataTable( {
      "pagingType": "full_numbers"
    });
  });
</script>
{% endblock %} {# block javascript #}
