<table id="dbs" class="table table-sm my-4">
  <thead>
    <tr>
      <th>Database</th>
      <th>Title</th>
      <th>Mode</th>
      <th>Owner</th>
      <th>Size (bytes)</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for db in dbs %}
    <tr>
      <td>
        <a href="{{ url_for('db.display', dbname=db['name']) }}" role="button"
	   class="font-weight-bold">{{ db['name'] }}</a>
      </td>
      <td>{{ db.get('title') or '-' }}</td>
      <td>{{ db['readonly'] | mode }}</td>
      <td>{{ db['owner'] }}</td>
      <td class="text-right pr-4">
	{{ db['size'] | size_none }}
      </td>
      <td><small class="localtime">{{ db['modified'] }}</small></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
