{% extends 'base.html' %}

{% block head_title %}Public databases{% endblock %}

{% block body_title %}Public databases{% endblock %}

{% block main %}
{% include 'dbs/list_public.html' %}
{% endblock %}

{% block api %}
<div>
  <a href="{{ url_for('api_dbs.public') }}"
     class="badge badge-pill badge-dark">API</a>
</div>
{% endblock %} {# block api #}

{% block javascript %}
<script>
  $(function() {
    $("#dbs").DataTable( {
      "pagingType": "full_numbers",
      "pageLength": 25,
    });
  });
</script>
{% endblock %}
