{% extends 'base.html' %}

{% block head_title %}Upload a Sqlite3 file{% endblock %}

{% block body_title %}Upload a Sqlite3 file{% endblock %}

{% block main %}
<div class="card border-primary">
  <div class="card-body">
    <ul class="m-2">
      <li>
        If the file is a DbPortal Sqlite3 file, the validity of its metadata
        will be checked to some extent.
      </li>
      <li>
        If the file is a plain Sqlite3 file, an attempt will be made
        to infer the DbPortal metadata from its contents.
      </li>
      <li> 
        Limitations for a plain Sqlite3 file are currently:
        <ul>
          <li>
            Only views with simple definitions can be parsed. Other
            views will be deleted to avoid name clashes.
          </li>
          <li>
            No user-defined indexes will be parsed. They will all be
            deleted to avoid name clashes.
          </li>
        </ul>
      </li>
    </ul>
    <form action="{{ url_for('.upload') }}"
          enctype="multipart/form-data"
          method="POST"
          class="mt-4">
      {{ csrf_token() }}
      <div class="form-group row">
        <div class="col-md-2 text-right">
          <label for="sqlite3file" class="col-form-label">Sqlite3 file</label>
        </div>
        <div class="col-md-8">
          <input id="sqlite3file" name="sqlite3file"
                 type="file" class="form-control-file" autofocus>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2 text-right">
          <label for="dbname" class="col-form-label">
            Database name</label>
        </div>
        <div class="col-md-8">
          <input id="dbname" name="dbname" type="text" class="form-control">
          <small class="form-text text-muted">
            If none specified, the filename will be used.
            <br>
            The database name must be unique for this site. If not, an
            attempt will be made to add a suffix to it to make it
            unique.
            <br>
            This means that other user's database names restrict which
            name you can use.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-4 offset-md-2">
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Upload</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block actions %}
<div>
  <a href="{{ url_for('.owner', username=g.current_user['username']) }}"
     role="button" class="btn btn-dark btn-block">Cancel</a>
</div>
{% endblock %}
